[2018-02-08 18:20] JulianKingman opened #2 "Errors setting up app with redux"
I set up a project with redux, and separated things into different files for organizational purposes, and was getting all kinds of errors, mainly `Navigator.router.getStateForAction` returning null/undefined. So I set up a snack to reproduce the issue, but to start with, followed the documentation example exactly, but I can't get it to run (it says `failed to import module 'ren'`, etc...).

Here's

[2018-02-08 19:29] jbrodriguez opened #3 "Typescript definitions not updated"
I'd like to say that I feel the jump to 1.0.0 stable was rushed.

As for the bug

[code]

comes from

[code]

since https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-navigation/index.d.ts isn't up to date.

Since I create the store in a separate file from the creation of the Navigator, I had to define an instance property (this.addListener), so that it's created after the

[2018-02-09 23:28] Oize opened #4 "Typescript definitions"
Probably related with #3, i made .d.ts for this repo. Should i add it here or into DefinitelyTyped? Or you'll do it by yourselves?

[2018-02-10 18:27] Ashoat commented on #4
Keeping the types within the repo is what I do with Flow, even though we use `flow-typed` for the mainline `react-navigation` package. I'll defer to you on where to place it for TypeScript. PRs are welcome! :)

[2018-02-10 18:30] Ashoat commented on #3
It seems like this issue has to do with `react-navigation` as a whole, rather with the Redux integration specifically. Please post this issue on the main `react-navigation` issue tracker so it can get the appropriate eyeballs. I maintain the Flow types for `react-navigation` btw so have some thoughts, feel free to tag me in the post! :)

[2018-02-10 18:30] #3 closed

[2018-02-10 21:13] Ashoat commented on #2
The `failed to import module 'ren'` issue seems to be related to expo. It happens even when I try and run a simple project.

Could you maybe make a basic RN example and put up it up on GitHub? You can run `react-native init` to create basic RN project. Guide is under "Building Projects with Native Code" [here](https://facebook.github.io/react-native/docs/getting-started.html).

[2018-02-13 01:10] JulianKingman commented on #2
I set up a separate issue for the snack issue: https://github.com/expo/expo/issues/1418

After pulling the locally and testing it, it appears to work fine (after some hacking). It looks like my issues were probably related to load order, which I had to carefully dissect. I'm still not sure why the router was coming up blank, maybe it will become clear comparing to my other project in which the iss

[2018-02-13 01:10] #2 closed

[2018-02-13 01:15] JulianKingman commented on #2
For some reason it's important that the component that connects redux (`AppWithNavigationState`) be in the main file (i.e. App.js).

[2018-02-18 08:57] vdelacou commented on #4
For helping you, the typescript definition is :

[code]

[2018-02-26 17:39] toytonic opened #7 "Nested TabNavigator Screen not rendering the first tab navigate"
This is a copy from https://github.com/react-navigation/react-navigation/issues/3604 as suggested by @brentvatne

### Current Behavior

I have a the following structure with a nested tab navigator (main navigation) inside a stack navigator (for modals to 'popover'). Once managing the state via redux or mobx the first navigate (via tabbing) in the tab navigator to e.g. 'Tab2' is not rendered. After

[2018-02-26 23:37] prodigynelson opened #8 "Stack Navigator reducer not initializing correctly"
### Current Behavior

I am trying to merge redux with my navigation state. I have a stack navigator that returns a tab navigator. I have followed the new react navigation redux guide, but when I try to import the navigator reducer as part of my combine reducers, it throws me "No reducer provided for key navigation." I tracked the issue down and it appears to be doing things [out of order](http://p

[2018-02-27 06:02] brentvatne commented on #7
hi there! I will look into this tomorrow.

[2018-02-27 10:40] Liruwei opened #9 "npm run test error"
![](http://ww1.sinaimg.cn/large/962a6dfegy1fov6ramv1cj21bu0mswjf.jpg)

`npm run test` (jest) error in a new project (react-native init),  after intalled `react-navigation-redux-helpers`

[2018-02-27 10:40] zhouyingkai1 commented on #7
I have the same problem

[2018-02-27 16:11] Piropa commented on #7
I've had to revert to 1.03

[2018-02-27 16:18] brentvatne commented on #7
there appears to be some bug with redux integration where the *first* action that happens in the app doesn't have the event properly dispatched.

to get around this for now you can add this to `componentWillMount` in your app somewhere: `this.props.navigation.navigate('THIS_PATH_DOES_NOT_EXIST');`

[2018-02-27 16:32] brentvatne commented on #7
actually the above behavior is somewhat expected. notice that we have to do this in createNavigationContainer: https://github.com/react-navigation/react-navigation/blob/6785729fb5c13cd144f462f1ca07939f0753e65c/src/createNavigationContainer.js#L141-L159

@Ashoat - maybe we need to update redux docs?

[2018-02-27 16:56] brentvatne commented on #7
@ericvicenti - pinging you because this is a bit awkward and curious if you have any thoughts on how to do it better

[2018-02-27 17:29] Under-Warz opened #10 "nested TabBarNavigator in StackNavigator cause blank screens"
### Current Behavior

When I navigate between Tabbar screen, the initial screen is loaded properly, mais the other are blank (no render method call)

Here is a demo to reproduce the bug WITH REDUX : https://snack.expo.io/@lmenu/sample-for-tabbar-bug
Here is the same demo WITHOUT REDUX without the bug : https://snack.expo.io/@lmenu/sample-for-tabbar-bug-without-redux

### How to reproduce

I red th

[2018-02-27 17:39] brentvatne commented on #10
I posted a workaround in this other thread: https://github.com/react-navigation/react-navigation-redux-helpers/issues/7#issuecomment-368934521

[2018-02-27 17:50] Under-Warz commented on #10
@brentvatne If you could read a little more my issue I open for the third time, you could see that the problem is not the same. The issue for #7 loads the tab after tap a second time on it. For my case, even if you tap and tap again the screen is not loaded.

By the way, I've update the snacks with your solution, but the bug persist.

Thx,

[2018-02-27 17:51] brentvatne commented on #10
cc @Ashoat

[2018-02-27 18:07] prodigynelson commented on #8
related issue: https://github.com/react-navigation/react-navigation/issues/1919#issuecomment-313060644

[2018-02-27 20:31] LcTwisk commented on #10
I'm having the same issue. The proposed solution in #7 is also not working for me.

[2018-02-27 21:55] LcTwisk commented on #10
Just found out that it is still working on `react-navigation`-` v1.0.3`, but it breaks when updating to `v1.1.0` or up

[2018-02-27 22:50] nol13 commented on #7
Posted this in referenced issue as well, but example of issue without using redux.

https://snack.expo.io/B1LdhUmdM

Steps to reproduce:

    click on search tab
    click on SavedSearch, screen is blank
    click back to NewSearch
    click on SavedSearch again, screen is not blank

[2018-02-28 10:10] hushicai commented on #10
I have temporarily  move to `react-native-tab-navigator`.

Looking forward to the solution.

[2018-03-01 20:02] Ashoat commented on #4
Closing due to inactivity

[2018-03-01 21:52] Ashoat commented on #7
Oh my god, this report has *exact* same typo as #3586.

Guys. The callback you pass to `createReactNavigationReduxMiddleware` has to select the navigation state from your Redux store. It can't select an undefined property.

I've considered warning in the case of an `undefined` property, but having the first action initialize state from `null` is a common Redux pattern (and one `react-navigation` u

[2018-03-01 21:58] Ashoat commented on #7
Oops sorry that comment was meant for #10

[2018-03-01 21:58] Ashoat commented on #10
Oh my god, this report has *exact* same typo as [#3586](https://github.com/react-navigation/react-navigation/issues/3586).

Guys. The callback you pass to `createReactNavigationReduxMiddleware` has to select the navigation state from your Redux store. It can't select an undefined property.

I've considered warning in the case of an `undefined` property, but having the first action initialize state

[2018-03-01 21:58] #10 closed

[2018-03-02 01:27] Ashoat commented on #9
I'm not sure why this is occurring. What's your `.babelrc`? Could you create a repo containing only `react native init` + `react-navigation-redux-helpers` so I can clone it and repro?

[2018-03-02 01:37] Ashoat commented on #8
@prodigynelson what's going on here is that you have two different navigation states, but the middleware is only set up to track one of them. What's more is that you've set up that middleware to alert listeners in both of the navigators whenever the tracked navigation state is updated, whereas the non-tracked navigation state is just ignored.

I myself haven't tested the hot-swapping navigation st

[2018-03-02 01:44] Ashoat commented on #7
Okay, so this is definitely a legit issue. Most use cases obscure the issue here by using something like `redux-persist`. Dispatching an `init` action on mount like Brent suggested above is a fine approach, though it does end up triggering the reducers twice. Since reducers are idempotent it doesn't matter, but I suppose it would be slightly better to only call the listeners, like the `createNavig

[2018-03-02 02:17] Ashoat commented on #7
I've published `react-navigation-redux-helpers@1.0.2` which includes a new exported function: `initializeListeners("root", navigationState)` which you can call from your App's `componentDidMount`. @toytonic feel free to reopen if that doesn't solve the issue.

[2018-03-02 02:17] #7 closed

[2018-03-02 08:52] Under-Warz commented on #10
@Ashoat thank's ! It working. It was a typo issue, I was using your exemple state.nav but my reducer is called "navigation" >_<

@hushicai & @LcTwisk  let's try this for you ;)

[2018-03-02 09:07] toytonic commented on #7
Thanks. Will verify it asap.

[2018-03-02 15:00] toytonic commented on #7
@brentvatne @Ashoat Thanks for the update and the suggestions. It's working now. I am using mobx in my actual implementation. An update to the docs would definitely help others with similar issues.

Keep up the good work. Much appreciated!

[2018-03-02 16:34] lewnelson commented on #9
I'm also getting this error, I think it might have something to do with the fact that the library is using [Flow](https://flow.org/), (for me at least). I'm trying to setup `babel-jest` to transpile this module with the `babel-preset-flow` preset. No luck as of yet. I'll hopefully be able to fix this and post a solution.

[2018-03-02 17:03] lewnelson commented on #9
OK so the solution for me was to allow jest to transpile certain `node_modules`. You can do this using [transformIgnorePatterns](https://facebook.github.io/jest/docs/en/configuration.html#transformignorepatterns-array-string). They have an example for React Native
[code]
I needed to add a few libraries in there, `react-navigation-redux-helpers` included. My config looks like this:
[code]
I also ha

[2018-03-02 23:12] vyshkant commented on #4
@Ashoat What inactivity do you mean? What do you think about the code above? What if I write a PR providing this code in `.d.ts` file?

[2018-03-03 15:09] pbogdan03 opened #11 "Nested Navigators with redux render twice"
Using:
[code]

On first load, the Home Screen is mounted twice:

App.js
[code]

middleware.js
[code]

RootTab.js
[code]

HomeStack.js
[code]

Home.js
[code]

NavReducer.js
[code]

When starting the app, the debugger displays 2 console logs of `render` and `did mount: HOME`.

I'm expecting to only render once, as the default React Navigation behaviour, without Redux.

**Edit**:
Seems that not calli

[2018-03-03 19:11] kodayashi opened #12 "bindActionCreators to navigation prop"
When doing this: ``<AppNavigator navigation={addNavigationHelpers({ dispatch, state: nav, addListener, ...bindActionCreators(ActionCreators, dispatch), })} />``

I would expect my action creators from ActionCreators to be bound to the navigation property, however they are not. The idea would be to use navigation.someCustomNavigationActionCreator() as opposed to binding navigation-related action cr

[2018-03-04 00:31] Ashoat commented on #11
You can avoid this either by using `React.PureComponent`, or passing `initialState` to `createStore` directly instead of setting it in the reducer. The instructions will be updated soon, but as it stands we’ve integrated a function to create a default reduced that does initialize an undefined state by default. We do this to support the use case where people don’t specify their `initialState` to `c

[2018-03-04 00:31] #11 closed

[2018-03-04 01:03] Ashoat commented on #12
Unfortunately there isn’t support for this now. The reason those action creators get dropped is because the code constructs “child” navigation props for child screens and navigators that have the `state` property set to the specific route. This code doesn’t bother to preserve all the navigation prop’s properties when making child navigation props, so your custom action creators get dropped.

Do yo

[2018-03-04 02:53] Ashoat commented on #4
PR definitely welcome! We have a couple new exports now (four in total), so any libdef would need to cover all four.

[2018-03-05 10:30] corysimmons opened #15 "Document API"
redux + react-navigation needs more docs/tutorials pls

[2018-03-05 15:05] Ashoat commented on #15
Yeah, I'll get to this soon hopefully.

[2018-03-05 16:38] Ashoat commented on #9
Thanks @lewnelson for looking into this!

Do you know if there is an issue tracking this on Jest's repo? It seems like this problem would occur for anybody that is using Flow types in-package.

[2018-03-05 16:39] #8 closed

[2018-03-05 16:39] Ashoat commented on #12
Let's track this on [this issue](https://github.com/react-navigation/react-navigation/issues/3206) in the main repo

[2018-03-05 16:39] #12 closed

[2018-03-05 23:04] jacargentina commented on #7
@Ashoat I'm having the same issue; adding `initializeListeners` on my App's `componentDidMount` is not making my tab navigation work.

My app is here  https://github.com/jacargentina/iResucito, on branch `npm-updates`

[2018-03-05 23:11] Ashoat commented on #7
@jacargentina please create a Snack with a minimal repro of your issue and I'll take a look!

[2018-03-06 09:07] toytonic commented on #7
@jacargentina I had a similar setup as you.

Because of your initialization logic  in the App component `initializeListeners` in `componentDidMount` will be called before the MainStack will be rendered. You can create a separate component that only renders and initializes the MainStack to work around that issue.

[2018-03-06 13:01] jacargentina commented on #7
@toytonic Thanks a lot! Was just like that.

[2018-03-10 15:54] kodayashi commented on #12
Hey @Ashoat - IMO it would be cool to add support for binding additional action creators with the navigation prop to remove needing to use dispatch (per some of the best practices out there I've read like http://blog.isquaredsoftware.com/2016/10/idiomatic-redux-why-use-action-creators/).

Happy to move the discussion back to react-navigation, thanks!

[2018-03-10 22:25] rodrigoelp commented on #4
Just to add to the "activity" part. 👍 to @vdelacou for providing the type definition or whoever producing the PR and I don't want to steal somebody else's thunder.

What are you going to do then? I will vote to keep the type definition within the project as opposed to DefinitelyTyped.

[2018-03-10 22:49] rodrigoelp commented on #4
By the way, just noticed the type provided is wrong as it does not allow me to create a listener... so I have fixed it here:

[code]

[2018-03-10 22:51] Ashoat commented on #4
Hosting in-package is great! PR welcome :)

[2018-03-10 23:02] rodrigoelp commented on #4
I know @Ashoat, I do want to give the opportunity to @vdelacou as he was the one posted the original declaration. If nothing happens in two or three days, then I will create the PR and send it

[2018-03-12 05:20] vyshkant opened #16 "Add dependencies to package.json"
There is a dependency used in `src/reducer.js` and not defined in `package.json`:
[code]

I suggest to add the dependency `react-navigation` to `package.json`.

There are also a lot of `import type` rows in different files. I'm not sure whether this kind of dependency should be specified in `package.json`:
[code]

[2018-03-12 06:05] vyshkant commented on #4
@rodrigoelp Could you please take a look at my PR? I have slightly changed your code (mostly added exports from other files). Feel free to review it!

[2018-03-12 14:12] Ashoat commented on #4
Thanks @vyshkant for putting up a PR!! @vyshkant has listed a couple questions on his PR, but I'm not very familiar with TypeScript, so would be great if anybody else on this thread who is familiar could join the discussion on that PR.

[2018-03-12 14:17] Ashoat commented on #16
1. `react-navigation` is listed as a peer dependency, which I think is the correct type of dependency in this case, since we don't want users of the library to end up with an old `react-navigation` version in their bundle.
2. The Flow type imports are handled by libdefs and as such do not need to be listed in the `package.json`. I manually installed the libdefs using `flow-typed`, which avoids inc

[2018-03-12 14:17] #16 closed

[2018-03-12 22:43] nextriot opened #18 "SwitchNavigator doesn't work with Redux integration outlined in guide"
Hi.

I'm using the exact Redux Integration outlined in the guide found here: https://reactnavigation.org/docs/redux-integration.html

However, when I export a SwitchNavigator (with a StackNavigator as its initial route) as my default Navigator I'm met with the following error:

`undefined is not an object (evaluating 'prevState.index')`

Here is a Snack reproducing the bug: https://snack.expo.io/H

[2018-03-12 22:47] rodrigoelp commented on #4
Will continue to convo in the PR.

[2018-03-13 02:16] neeboo commented on #7
@toytonic Have you fixed the issue and how did you do it which mentioned by @jacargentina.
I still can't fixed my setup using `initializeListeners` in `componentDidMount`.

[2018-03-13 05:11] julienR2 commented on #18
I have the same problem when I update react-navigation from `1.2.1`  to `1.5.2` no sure it comes from `react-navigation-redux-helper`..
I'll try to investigate and see which version breaks it.

[2018-03-15 10:44] michel-p opened #19 "Flow errors on react-native 0.54.2"
Hello,

I am having some flow fails on my project when updating to react-native 0.54.2

Here are the errors :
![image](https://user-images.githubusercontent.com/9078109/37458654-faef7da4-2845-11e8-92f6-cfed741bf672.png)

I am using last version :  "react-navigation-redux-helpers": "^1.0.3",

[2018-03-15 12:06] Ashoat commented on #19
Try `flow-typed install`

[2018-03-15 13:22] andreaPortfolio commented on #18
I have the same problem... Any news?

[2018-03-15 14:45] DannyvanderJagt opened #20 "lifecycle events aren't working with redux"
Hi all,

While working on our upgrade to the new `react-navigation@1.5.6` I noticed that the lifecycle events aren't working with `react-navigation-redux-helpers`. The same code does work without this library.

I'm not sure if this is mentioned in this part of the documentation:
`Keep in mind that when a navigator is given a navigation prop, it relinquishes control of its internal state. That mean

[2018-03-15 18:54] azaabudeen commented on #7
Same issue...Any fix??

[2018-03-16 08:53] #20 closed

[2018-03-16 11:03] toytonic commented on #7
Hi @neeboo as mentioned above I am using mobx with tsdi. But here is my basic implementation:

[code]

[2018-03-16 15:17] mattvick commented on #18
I have the same problem too... Any news?

[2018-03-16 15:33] mattvick commented on #18
@nextriot what version of [react-navigation](https://github.com/react-navigation/react-navigation/) and [react-navigation-redux-helpers](https://github.com/react-navigation/react-navigation-redux-helpers/) are you using?

The react-navigation [ReduxExample](https://github.com/react-navigation/react-navigation/tree/master/examples/ReduxExample), which runs uses the following versions:

react-naviga

[2018-03-16 16:18] andreaPortfolio commented on #18
I'm using:
"react-native": "0.52.0",
"react-navigation": "^1.5.1",
"react-navigation-redux-helpers": "^1.0.3"

[2018-03-16 17:49] mattvick commented on #18
@nextriot and @andreaPortfolio do you have nested navigations?

[2018-03-16 18:11] nextriot commented on #18
@mattvick, thanks for helping.

Please check the snack (https://snack.expo.io/Hy643mQtz) for any further questions.

The SwitchNavigator is the root, and it has nested StackNavigators.

"react-navigation": "^1.5.1".
"react-navigation-redux-helpers": "^1.0.3".

I don't think 2.0.0-alpha.5 is publicly available. So I don't think that's the issue.

[2018-03-16 19:50] mattvick commented on #18
@nextriot take a look at https://snack.expo.io/ByL0C9YFz it runs after setting `const initialState = null`. Can anyone explain what the side effects of setting the initial state to `null` might be?

[2018-03-17 22:41] andreaPortfolio commented on #18
I changed my reducer initial state from:

const initialState = AppNavigator.router.getStateForAction(
    AppNavigator.router.getActionForPathAndParams("AuthLoading")
);
to

const initialState = null;

and now it works!!!

Thank you @mattvick

[2018-03-19 07:44] mattvick commented on #18
No worries @andreaPortfolio. Glad I could help.

It would be great if there was some clear documentation outlining how to set `initialState` for nested navigators.

Also I'd like to know why the navigation state has to be set in the app and as `initialState`, which seems like setting the same thing in two places

[2018-03-26 00:02] pedrobertao commented on #18
This need some clarification. Just setting initialState to null as a solution kinda bugs my mind.

[2018-04-08 17:51] #19 closed

[2018-04-09 07:54] SEUH opened #21 "TabNavigator inside StackNavigator has wrong state when going back to default tab"
I have a TabNavigator inside a StackNavigator
[code]
Now i have a middleware for my redux store which basically logs me the navigation state

---

### Current Behavior

On my android phone i swipe left (to 'points'), then i swipe right (back to 'home' (default)) which is all displayed correctly but in the navigation state, it says that the tabnavigator is still on index 1.

![image](https://user-i

[2018-04-09 13:09] Ashoat commented on #21
Sorry, the docs are a little out-of-date. Updating them is on my to-do list.

Are you using the new export `initializeListeners`? Call it in your top-level component's `componentDidMount`'. If that doesn't work, try using `createNavigationReducer` to construct your reducer (it wraps your navigator, and returns a navigation reducer to be called by your master reducer).

If neither of those solve th

[2018-04-09 17:09] SEUH commented on #21
I just included createNavigationReducer to create my reducer and called initializeListeners in my main app component but that doesn't change anything. I will try to 'export' my project within the next days

[2018-04-10 00:47] tangzhen opened #22 "please publish the index.d.ts"
I saw the pull request "https://github.com/react-navigation/react-navigation-redux-helpers/pull/17" already merged and publish the new version 1.0.4, but the problem is v1.0.4 doesn't include the "index.d.ts", so we still have an error when using the typescript, please help to fix it.

[2018-04-10 03:58] Ashoat commented on #22
Oops! Thanks for the report, this should be fixed now.

[2018-04-10 03:58] #22 closed

[2018-04-12 21:34] mike3run commented on #18
Install react-navigation@next to fix the issue :D

[2018-04-18 17:02] Ashoat commented on #21
Awesome! Glad you figured it out.

[2018-04-18 17:02] #21 closed

[2018-04-26 22:48] reggie3 opened #23 "Jest Test Error "Cannot read property 'init' of undefined""
I am getting the following error trying to test a component that has the following react-navigation import lines:
[code]

![image](https://user-images.githubusercontent.com/7347192/39335350-a5c92a58-4980-11e8-89fe-21c2c628176a.png)

The error file "reducer.js" looks like this:
[code]

My only react-navigation-redux-helpers import is in a file that contains the following code and builds my navigati

[2018-04-27 16:42] crobinson42 opened #24 "Active tab in TabNavigator"
I am using redux integration in a very simple fashion.

### Current Behavior
Using TabNavigator a user touches a tab to navigate to it - the redux reducer returns no state change so the the `screen` does not change:
[code]
The screen DOES NOT change, however, the "active" tab DOES change to the tab that the user touched which is indicated by changing to the `activeIcon` specified in `TabNavigatorC

[2018-04-27 17:50] Ashoat commented on #24
I don’t think overriding the default reducer behavior is supported in react-navigation. As far as I understand, there is state outside of the Redux store that gets changed when you navigate. If that’s not it, it might be some of the other actions that occur on navigation (maybe the `COMPLETE_TRANSITION` one?).

[2018-04-27 21:48] crobinson42 commented on #24
Interesting - I put a custom redux middleware function in and returned null on `COMPLETE_TRANSITION` actions but the active tab transition still occurs. I don't see any other `NAVIGATION/*` actions coming through during the tab nav action.

How would you prevent a user from going to a different tab in the TabNavigator based on some validation (or user input confirmation)?

[2018-04-27 22:11] Ashoat commented on #24
`tabBarOnPress` should work for you.

[2018-04-27 22:11] #24 closed

[2018-04-27 22:11] Ashoat commented on #24
https://reactnavigation.org/docs/tab-navigator.html

[2018-04-28 18:40] Ashoat commented on #23
I'm unfortunately not very familiar with Jest, but it seems the issue is that its module loader is failing to do a named import from `react-navigation`.

Two things I can think of to try:
1. What happens when you remove `react-navigation` from `transformIgnorePatterns`? It doesn't use Flow types in-package, so it probably doesn't need to be there.
2. What happens when you replace this:

[code]

Wi

[2018-04-29 02:38] warrenbell opened #25 "How do I get listeners to work with react-navigation and redux"
I am trying to get a listener to work. I need to know when a transition is complete. I am registering a listener like this:

`this.props.navigation.addListener('didFocus', (payload) => console.warn('did focus')),`

I stepped through the code and I am confused with the following:

[code]

So according to the createReduxBoundAddListener function, the eventName has to be "action" or addListener does

[2018-04-29 15:16] warrenbell commented on #25
After stepping through the code a little more, it looks like I can only listen to events of type "action". How do I listen to other events of type "willFocus", "willBlur", "didFocus" and "didBlur" ?

[2018-04-29 17:41] Ashoat commented on #25
@warrenbell, the `eventName != 'action'` condition is [copied](https://github.com/react-navigation/react-navigation/blob/master/src/createNavigationContainer.js#L337-L347) from `react-navigation`. I am not sure why the condition is there in the first place; I'd suggest posting an issue in the main `react-navigation` repo to find out.

The intention of this library is to provide the same functional

[2018-04-29 17:41] #25 closed

[2018-04-30 19:19] pensierinmusica opened #26 "focus / blur events not fired when using getStateForAction"
Hi,

I'm using React Navigation integrated with Redux. I've noticed that the focus / blur events are not fired when I change route using `getStateForAction`.

For example let's imagine a reducer that returns this:

[code]

Is such usage expected to not fire a focus event for the route it lands in, or is it due to a bug?

Thanks!

[2018-05-01 15:34] computerjazz commented on #25
Are you passing the react-navigation middleware into `createStore`?
This was missing from the docs and tripped me up.

[code]

[2018-05-01 18:57] warrenbell commented on #25
@computerjazz Thanks, I had that covered. It just looks like the other event types are not handled yet in createReduxBoundAddListener of this package.

[2018-05-01 18:59] computerjazz commented on #25
But you're note getting the onFocus, onBlur, etc events? I have my nav hooked into redux and am receiving all events after making the above change.

[2018-05-01 19:06] warrenbell commented on #25
@computerjazz I have almost the same code as you. What version of react-navigation are you using ?

[2018-05-01 20:28] computerjazz commented on #25
react-navigation 1.5.11

Here's a sample project: https://github.com/computerjazz/ReactNavigationRedux

The only weirdness I'm seeing is that
- `didBlur` is not called when navigating back from `ItemDetail`. Perhaps the component is no longer mounted at the time it would be called -- I think I've seen `didBlur` called when using a TabNavigator.
- I'm not seeing the actions called when navigating b

[2018-05-01 20:39] Ashoat commented on #25
For the first one, you’re saying your event listener is not triggered for `didBlur`, right? Does it get triggered when not using Redux integration?

[2018-05-01 20:43] computerjazz commented on #25
@Ashoat correct. I'm not sure if it's called when not using Redux, I haven't tested that.

[2018-05-01 20:45] Ashoat commented on #25
Based on the code snippet I posted above, I think the answer is no. As far as I understand, this just isn’t a behavior that `react-navigation` supports.

[2018-05-01 20:50] computerjazz commented on #25
Makes sense. And I just confirmed that `didBlur` _does_ get called when navigating forward. So I'm thinking the component unmounts before `didBlur` is called when navigating back.

[2018-05-01 20:56] warrenbell commented on #25
@computerjazz I am using an older version of react-navigation that does not have those events implemented yet. But I am still confused as to how it even works based on the code in this package createReduxBoundAddListener function that seems to just ignore every event type other than 'action'. Did you use createReduxBoundAddListener in your code ? How are you adding event listeners ?

[2018-05-01 20:59] computerjazz commented on #25
@warrenbell I haven't spent the time to understand what goes on under the hood, but I've included everything in the [sample files above ^^](https://github.com/react-navigation/react-navigation-redux-helpers/issues/25#issuecomment-385780232)

[2018-05-01 21:07] warrenbell commented on #25
@computerjazz Our code is the same. I will get react-navigation upgraded to a version that has these events and go from there. Thanks

[2018-05-03 02:42] Ashoat commented on #26
Some discussion in this issue: #25

Please correct me if I'm wrong, but I don't believe this is possible in React Navigation without Redux integration. It's not the intention of this library to provide functionality outside the scope of React Navigation, but it should be pretty easy to implement a custom `createReduxBoundAddListener` that doesn't filter any events out. I'm not sure if it'll work a

[2018-05-03 02:42] #26 closed

[2018-05-03 11:35] jsina commented on #25
@computerjazz listener hasn't work still for me, I was also created the issue in your github project.

[2018-05-03 16:06] motogod opened #27 "Render component is strange when click back arrow with react-redux"
I have two class component A and B, i navigate to B by using this.props.navigation.navigate('B') then B component will have a back arrow on headerLeft, when i click the back arrow my data is still using B component data although my screen is A component.

I want to know what is going on when i click the back arrow, i try to console.log in A and B under their render function, i find it will render

[2018-05-03 16:49] Ashoat commented on #27
Your `mapStateToProps` need to return an object containing the props you want to merge, not just a single prop.

[2018-05-03 16:49] #27 closed

[2018-05-07 15:50] crobinson42 commented on #24
Just an update for anyone who finds this issue, my problem was related to using `tabBarComponent: ...` with this library: https://github.com/timomeh/react-native-material-bottom-navigation#bottomnavigation

[2018-05-07 21:57] Ashoat commented on #18
Is anybody still experiencing this issue?

[2018-05-07 22:12] shelldandy commented on #18
Yes but i installed react-navigation@next and the issue was fixed in there

[2018-05-07 22:28] Ashoat commented on #18
I think `react-navigation-redux-helpers@1.0.6` should fix this issue for people who are still on `react-navigation@1.x`. If anybody is still experiencing this issue let me know!

[2018-05-07 22:28] #18 closed

[2018-05-08 20:07] niteshgrg opened #29 "Make it compatible with react-navigation 2.0.0"
├── UNMET PEER DEPENDENCY react-navigation@2.0.0
└── react-navigation-redux-helpers@1.0.6

[2018-05-12 14:38] sjkyspa commented on #29
any updates about this？

[2018-05-14 15:18] Ashoat commented on #29
Taking a look now. I think `addNavigationHelpers` has been deprecated in `react-navigation@2`, so changes will be necessary.

[2018-05-14 17:16] MrLoh commented on #29
Not really, it has just been removed, I am using this with react navigation 2.0.1 without any issues.

[2018-05-17 02:28] Ashoat commented on #29
Should be good now.

[2018-05-17 02:28] #29 closed

[2018-05-17 02:28] Ashoat commented on #15
Done.

[2018-05-17 02:28] #15 closed

[2018-05-17 07:41] MrLoh commented on #29
I’m having an issue with redux integration at the moment. Trying to dig through the source code to understand who the listener differs in the normal vs the redux case. Could it have something to do with changes here?
https://github.com/react-navigation/react-navigation/issues/4244

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-17 10:57] femiveys opened #30 "Flow errors in middleware.js"
Commit 473155689af58403248e4073b38fb4a42b6b345e has introduced flow errors in middleware.js.

On line 9 we have:
`Cannot import getNavigationActionCreators because there is no getNavigationActionCreators export in react-navigation.`

Online 99 we have:
`Cannot assign object literal to navigation because property state is not writable in property state.`

Can this be fixed?

[2018-05-18 15:41] Ashoat commented on #25
`react-navigation-redux-helpers@1.1.1` introduces a new export called `createDidUpdateCallback` that should fix this issue. Refer to the [docs](https://github.com/react-navigation/react-navigation-redux-helpers) for how it's used.

[2018-05-18 15:41] Ashoat commented on #26
`react-navigation-redux-helpers@1.1.1` introduces a new export called `createDidUpdateCallback` that should fix this issue. Refer to the [docs](https://github.com/react-navigation/react-navigation-redux-helpers) for how it's used.

[2018-05-22 01:38] jamsch opened #31 "[v2.0.2] getNavigationActionCreators isn't a function"
In React-Navigation v2.0.2, there's no longer an export for `getNavigationActionCreators` on `react-navigation`. `middleware.js` imports this and results in an thrown error.

The fix would be:
`import getNavigationActionCreators from 'react-navigation/src/routers/getNavigationActionCreators';`

Edit: noticed you were aware of this issue

[2018-05-22 01:42] #31 closed

[2018-05-29 11:08] ar-omer opened #33 "Update the index.d.ts file"
The types definitions seem to be out-of-date

[2018-05-29 11:13] Ashoat commented on #33
I don’t maintain it, but PRs are welcome!

[2018-06-01 05:35] #33 closed

[2018-06-01 22:25] yordis opened #35 "Use releases and help the community with breaking changes"
Hey mates,

I noticed that all my code is broken because of the `react-navigation@2` which is fine but I went to Release tab over here on Github for read about the release but I didn't find any release on this package.

I know the documentation was updated but it would be nice if you could use the Release documentation for help the community to understand what changed and how to fix.

What do you

[2018-06-02 01:00] Ashoat commented on #35
Okay, I'll do this in the future. For reference, `react-navigation-redux-helpers@1.0.7` is the last version that supports `react-navigation@1.x`.

[2018-06-02 01:00] #35 closed

[2018-06-12 14:16] Freddy03h opened #36 "redux-helper doesn't work with react-navigation 2.3.0"
`TypeError: navigation.getChildNavigation is not a function`

I think it's because `createNavigationPropConstructor`doesn't use `createNavigator` from `react-navigation`, so the created `navigation` object don't get all needed functions `react-navigation` expect to be presents.

[2018-06-12 14:47] proutek commented on #36
I just spent 2 hours debugging this issue when integrating navigation into redux.

16:32:36: Error: TypeError: TypeError: undefined is not a function (evaluating 'navigation.getChildNavigation(route.key)')

This error is located at:
    in Navigator (at createKeyboardAwareNavigator.js:11)
    in KeyboardAwareNavigator (at createNavigationContainer.js:383)
    in NavigationContainer (at mainNavigat

[2018-06-12 15:13] proutek commented on #36
Just tried version 2.2.5 of react navigation and it works just fine.

[2018-06-12 22:01] Freddy03h commented on #36
More informations on this thread : https://github.com/react-navigation/react-navigation/issues/4481

[2018-06-13 05:32] Ashoat commented on #36
Okay, `react-navigation-redux-helpers@2.0.0-beta.0` has been released under the `@beta` tag, and it should solve this issue.

I'll try and put up a real `react-navigation-redux-helpers@2.0.0` later today that should simply things. Instead of `initializeListeners`, `createNavigationPropConstructor`, `createReduxBoundAddListener`, and `createDidUpdateCallback`, we'll just have a simple `reduxifyNavi

[2018-06-13 05:32] #36 closed

[2018-06-13 15:54] Ashoat opened #38 "TypeScript libdef for 2.0"
Hello! A new release is coming, and the API should be a bit simpler: https://github.com/react-navigation/react-navigation-redux-helpers/

This necessitates updating the typings. On the Flow side it was a bit complex, since we have a new HOC: https://github.com/react-navigation/react-navigation-redux-helpers/blob/master/src/reduxify-navigator.js

I don't use TypeScript, and am not sure how to type

[2018-06-13 15:55] Ashoat commented on #38
Tagging some TypeScript users: @vtserman, @ar-omer, @Oize, @vdelacou, @vyshkant

[2018-06-14 01:08] mrikirill opened #39 "Example how to implement with new API (https://github.com/react-navigation/react-navigation-redux-helpers/tree/2.0)"
Hi 👋

Is there any example about how to implement react-navigation with new API [](https://github.com/react-navigation/react-navigation-redux-helpers/tree/2.0) ?
React-navigation docs provides the instruction only for the previous version [](https://reactnavigation.org/docs/en/redux-integration.html)

[2018-06-14 02:14] Ashoat commented on #39
The PR to update the official React Navigation docs hasn't been merged yet. Here's the [deploy preview](https://deploy-preview-193--react-navigation.netlify.com/docs/en/redux-integration.html).

[2018-06-14 02:31] mrikirill commented on #39
Thanks @Ashoat
Would you recommend to update right now or wait till the official React Navigation doc will updated ?

[2018-06-14 04:03] mrikirill commented on #39
Ok thanks @Ashoat I will update my app

[2018-06-14 05:20] ViktorAksionov commented on #39
Example above doesn't work, also this
[code]
is too bold statement. If you did not develop large app where you need to have strict control on each user move then without redux integration it will be easier just to abandon react-navigation and to move to other libs. Please don't be selfish person!

[2018-06-14 05:47] YounetBet commented on #39
I want to know what to do with the android return key?

[2018-06-14 06:27] Ashoat commented on #39
@YounetBet, I have no idea what you're talking about.

@ViktorAksionov, you're really calling open source volunteers selfish? Anyways, I didn't write that chunk. You can provide feedback on it [here](https://github.com/react-navigation/react-navigation/issues/4490). For reference, the "deprecated" chunk is going away.

[2018-06-14 11:16] proutek commented on #39
Updated documentation states:
"4. A middleware is needed so that any events that mutate the navigation state properly trigger the event listeners. **To properly trigger the event listeners with the initial state, a call to initializeListeners is also necessary.**"

I have updated my project according to documentation but in example there is no explicit call to initializeListeners. I assume it is d

[2018-06-14 11:40] Ashoat commented on #39
@proutek: Oops, that should be fixed! `initializeListeners` is deprecated in 2.0.

[2018-06-15 01:07] Ashoat commented on #39
Docs are merged now.

[2018-06-15 01:07] #39 closed

[2018-06-15 12:19] #38 closed

[2018-06-15 12:24] Ashoat commented on #38
Fixed in `react-navigation-redux-helpers@2.0.2`

[2018-06-15 18:26] eabait opened #41 "getNavigation is undefined"
Hey guys

I'm trying to upgrade my app to `react-navigation 2.3.0` and `react-navigation-redux-helpers 2.0.1`. I'm getting the error `_reactNavigation.getNavigation` is undefined in line 139 of middleware.js.
Any ideas?

Thanks!
Esteban

[2018-06-15 19:04] Ashoat commented on #41
I think you need `react-navigation@2.3.1` as a minimum. Let me know if that doesn’t solve your problem.

[2018-06-15 19:04] #41 closed

[2018-06-15 19:37] eabait commented on #41
Indeed, that was the problem. Thanks @Ashoat

[2018-06-18 15:12] t0str opened #42 "Bundler error in `middleware.js`"
Hi

Currently we are updating various packages in our app but it seems we struck a problem with you package:

[code]

We are running:
[code]

Are we missing something or is this a bug? I have tried numerous version combinations, the error moves around in the file but stays the same.

Thanks & Best
tostr

[2018-06-18 22:32] trev91 opened #43 "Error: Navigator has both navigation and container props"
I've started a new app that's pretty barebones. I've started it with Expo and Redux. Since the new updates to the API I've encountered this error:
![image](https://user-images.githubusercontent.com/17678465/41565692-09898714-7315-11e8-9fcb-dff4aa8e4986.png)

I've looked at the updated documentation and cannot figure out what's going on here. Anyone else encounter this error?

Here's my code for re

[2018-06-19 00:47] Ashoat commented on #43
The error seems pretty clear. You need to stop passing those props through. This is happening because of the way you are using `withNetworkConnectivity`. You also don't seem to be specifying a `state` param to the reduxified navigator, which is required.

[2018-06-19 00:47] #43 closed

[2018-06-19 00:48] Ashoat commented on #42
I am not sure why this is occurring. Perhaps it has to do with a quirk in your build environment. Do you have a custom `.babelrc` set up, or are you using Haul or something?

[2018-06-19 12:06] DengZhouLi opened #44 "I don't know how to handle the Hardware Back Button in Android in new API.(2.0.2). Help me please, thanks"

[2018-06-19 12:16] t0str commented on #42
We have changed the following in `middleware.js`:
[code]

Now it does no longer crash there. Our `.babelrc` is nothing special I think:
[code]

Babel packages:
[code]

I see that it might be a problem on our side, but I can't really figure out where to look, do you see anything that's looking wrong from your perspective?

[2018-06-20 01:07] Ashoat commented on #42
That's really weird. I can't imagine what's going wrong with the export syntax. You're sure there's nothing non-standard in your build system? You're using a stock `react-native init` or `create-react-native-app` config?

[2018-06-20 01:07] Ashoat commented on #44
https://reactnavigation.org/docs/en/redux-integration.html#handling-the-hardware-back-button-in-android

[2018-06-20 01:07] #44 closed

[2018-06-20 10:24] namnv16 opened #45 "How to wrap reduxifyNavigator into a component"
Hi everyone,
I am using
"react-navigation": "^2.3.1",
"react-navigation-redux-helpers": "^2.0.2"

With reduxifyNavigator, I don't know where to add Handling the Hardware Back Button in Android
I try wrap reduxifyNavigator into a compenet like below but it not work:

`
import {
  createStackNavigator,
  NavigationActions
} from 'react-navigation';
import {
  createStore,
  applyMiddleware,
  combin

[2018-06-20 12:44] t0str commented on #42
Hi

We have solved the problem, how exactly I can't really tell. But deleting the `yarn.lock` file and reinstalling all packages made the problem disappear. Probably something messed up among some larger upgrades we have done that just happened to trigger this specific error!

Thanks for your help and sorry for the inconvenience :)
tostr

[2018-06-20 12:44] #42 closed

[2018-06-20 15:53] jhesgodi commented on #44
@Ashoat Thank you for putting this new version.
I would like to get some more context on the required setup for handling the back button integration.

From following the redux-integration docs, I don't clearly get how to connect the HOC to be able to handle it like this:
[code]

So I choose to connect separately the `AppNavigator` using the `reduxifyNavigator`. This way it works but I'm not certai

[2018-06-21 21:34] Ashoat commented on #45
Your code doesn't even seem to use the component `reduxifyNavigator` returns?

If you think you have an actual bug, please create an [Expo Snack](https://snack.expo.io/) demonstrating the issue, and I can investigate.

[2018-06-21 21:40] Ashoat commented on #44
Looks like the [Redux integration docs](https://reactnavigation.org/docs/en/redux-integration.html) need to be updated. If anybody can do a PR on [this file](https://github.com/react-navigation/react-navigation.github.io/blob/source/docs/redux-integration.md) to update them, it would be much appreciated.

The long and short of it is that `reduxNavigator` handles the `navigation` property mentioned

[2018-06-21 21:41] Ashoat commented on #45
https://github.com/react-navigation/react-navigation-redux-helpers/issues/44#issuecomment-399252347 <--- this might be helpful

[2018-06-21 21:41] #45 closed

[2018-06-22 07:28] namnv16 commented on #45
@Ashoat sorry for my bad example.
I fixed by follow your comment #44
my working code
[code]

[2018-06-26 22:17] jhesgodi commented on #44
Thanks for the help @Ashoat.

For anyone else looking for clues, this was my final working output
[code]

[2018-06-27 02:32] barbieri opened #47 "addListener() broken with redux + react-navigation-2"
If I `reduxifyNavigator()`, then `this.props.navigator.addListener('willFocus', cb)` (and other events) won't fire. This can be seen with the following patch to [ReduxExample](https://github.com/react-navigation/react-navigation/tree/master/examples/ReduxExample).

## Bug

The console messages `LoginScreen will focus` and `LoginScreen will blur` won't be displayed to console as expected.

Removing

[2018-06-27 02:37] Ashoat commented on #47
Are you using at least `react-navigation@2.3.1`? Can you create a [Snack](https://snack.expo.io/) that repros the issue?

[2018-06-27 03:00] barbieri commented on #47
I'm using 2.5.3 (just tried from GIT). You can clone the `react-navigation`, then:

[code]

[2018-06-28 16:41] barbieri commented on #47
since I can't  reproduce it outside of my project, I'm closing it.

My solution was to take the hit and remove `react-navigation-redux-helpers`. My solution was to keep `react-navigation` actions via `redux` with the following middleware. I use `TRACK_NAVIGATION` action to notify my analytics and other code that used to monitor `Navigate/BACK` and the likes (ie: to reload screen contents on enter/

[2018-06-28 16:41] #47 closed

[2018-07-05 16:24] askiiRobotics commented on #41
You should add this to guide on main page. It is not a clear problem.

[2018-07-09 07:52] aftabhussain02 opened #48 "react native android hardware back button"
hello everyone i am new in react-native and stuck at android hardware back button integration in https://reactnavigation.org/docs/en/redux-integration.html#handling-the-hardware-back-button-in-android  i am getting error of undefined is not an object (evaluating 'state.routes')
below is my code

`
const AppStack = createStackNavigator({
  mainScreen: {
    screen: MainScreen,
    navigationOptions

[2018-07-09 12:43] Ashoat commented on #48
See #44

[2018-07-09 12:43] #48 closed

[2018-07-09 16:50] rparma21 opened #49 "reactNavigationReduxHelpers.reduxifyNavigator"
Hello everyone, I'm getting an error after updating react-navigation and react-navigation-redux-helpers.

<img width="451" alt="captura de pantalla 2018-07-09 a la s 11 11 56" src="https://user-images.githubusercontent.com/41009792/42464231-c7ae7cb2-837e-11e8-8ded-a5bc7c1b9e35.png">

This is my code:

[code]

"react-navigation": "^2.3.0",
"react-navigation-redux-helpers": "^2.0.0-beta.1",

I alrea

[2018-07-09 17:32] Ashoat commented on #49
update to the latest `redux-helpers`

[2018-07-09 17:32] #49 closed

[2018-07-09 17:37] rparma21 commented on #49
@Ashoat I have the same error with ^2.0.2

[2018-07-09 19:35] Ashoat commented on #49
Something is wrong with the way you are updating to 2.0.2. I’m not sure what it is, but you are not actually trying with 2.0.2.

[2018-07-18 17:37] ahce opened #51 "addListener dont work"
Perfect works in react-navigation 2.2.5 and react-navigation-redux-helpers 1.1.2

[2018-07-19 06:36] psyanite commented on #51
This is also happening to me... I am dying...
[code]

I am using `createSwitchNavigator` with a `createBottomTabNavigator`, switching between my tabs is not firing any events.

[2018-07-19 11:40] Ashoat commented on #51
If either of you can create an Expo Snack that reproduces the issue I’ll take a look.

[2018-07-19 15:11] DragonSpirit opened #52 "TypeError: Cannot read property 'router' of undefined"
Hello! I get following issue.
<details>
<summary>My code</summary>

[code]

</details>
Error appears in render method of NavigatorReduxWrapper.<br/>
"Navigator" is undefined.<br/>
Did I do something wrong?<br/>

[code]

[2018-07-19 15:23] Ashoat commented on #52
Which one is `NavigatorReduxWrapper`? I can look at this today if you put it in an Expo Snack!

[2018-07-20 02:03] psyanite commented on #20
Related??? https://github.com/react-navigation/react-navigation-redux-helpers/issues/51

[2018-07-20 08:19] diegoddox opened #53 "reduxifyNavigator is causing this.props.navigation.addListener('didFocus') to not work"
**First thanks for the lib.**

**Description**
I encounter a strange behavior while upgrading to `react-navigation@2`. Following the example in the docs I noticed that the `navigation.AddListener('didFcous'` was not working on every screen.

After many hours of debugging, I found out that by removing the `reduxifyNavigator` all screen that was listening for the event `didFocus` was working normall

[2018-07-20 21:51] Ashoat commented on #53
I think I have fixed this in `react-navigation-redux-helpers@2.0.3`. Please give it a try and let me know if it works.

[2018-07-20 21:58] Ashoat commented on #52
It appears that you are passing an `undefined` navigator to `reduxifyNavigator`?

[2018-07-22 20:33] DragonSpirit commented on #52
Well, I solved this issue.
You was right. It happens due to race condition in import/export. I just refactored my code and got rid of this error.

[2018-07-22 20:33] #52 closed

[2018-07-23 01:29] diegoddox commented on #53
It's working but there is a bug with the current fix, I've made a PR that should fix it #54

[2018-07-23 02:27] diegoddox opened #55 "TypeError: undefined is not an object. payload.action.type.startsWidth"
Got this error after upgrading to 2.0.3
I've made a PR #54

[2018-07-23 14:13] #55 closed

[2018-07-23 14:14] Ashoat commented on #55
Fixed in `react-navigation-redux-helpers@2.0.4`

[2018-07-26 17:15] Ashoat commented on #53
Any luck @diegoddox?

[2018-07-27 08:44] diegoddox commented on #53
Hi @Ashoat sorry I haven't had the time yet

[2018-07-30 14:36] slootmaekersdirk opened #57 "(0 , _reactNavigationReduxHelpers.reduxifyNavigator) is not a function"
hello,

i have an issue with the above error:

i use :

    "react-navigation": "2.4.0",
    "react-navigation-redux-helpers": "^2.0.0-beta.1",
 but the issues persists also with the 2.9.3 and 2.0.5 of the redux helpers. The example does not have the issue.

here is the code :

import React, { Component } from "react";
import { connect } from "react-redux";
//import Root from "baseline/navigations

[2018-07-30 15:12] slootmaekersdirk commented on #49
@rparma21 any luck on this one, I have the same issue here...

[2018-07-30 15:22] slootmaekersdirk commented on #57
FYI I'm using RN 0.56

[2018-07-30 20:44] Ashoat commented on #57
This is where your issue is. `reduxifyNavigator` is not in `2.0.0-beta.1`, but it is in `2.0.5`. Something went wrong when you tried to install the newer version. You can confirm the version by checking `node_modules/react-navigation-redux-helpers/package.json`.

[2018-07-30 20:44] #57 closed

[2018-08-01 02:08] BarryYan opened #58 "Unhandled JS Exception: TypeError: TypeError: Cannot read property 'bind' of undefined"
I have some error with `reduxify-navigator`
[code]
My project: [https://github.com/BarryYan/musicApp](https://github.com/BarryYan/musicApp)

### Environment

| software         | version
| ---------------- | -------
| react-navigation | 2.9.3
| react-native     | 0.56.0
| node             | 10.0.0
| npm or yarn      | 6.0.0

[react-navigation #4788](https://github.com/react-navigation/react-naviga

[2018-08-01 02:48] Ashoat commented on #58
It's not immediately clear to me that this issue has anything to do with the Redux integration. @ericvicenti pointed you here because he needs a minimal repro - a project that reproduces the issue, without the redux-helpers library. Can you try to set that up for him? I'd suggest using an Expo snack.

If you're unable to reproduce the issue without the redux-helpers library, then create an minimal

[2018-08-01 03:27] BarryYan commented on #58
[Expo snack: https://snack.expo.io/ByDZVsAVQ](https://snack.expo.io/ByDZVsAVQ),  it's very magical that code run well, but I got the error above in my local environment.

[2018-08-01 19:49] Ashoat commented on #58
So you haven't been able to reproduce the issue in the Snack? Thanks for trying!

There are two possibilities:

1. There's something in your actual app, but not the Snack, that is causing this issue.
2. There's something different in your local environment that is causing the issue.

If you want to see if it's the local environment, you can try creating a new project the same way you created your

[2018-08-03 08:20] dotansimha commented on #58
Same here. starting from react-native  0.56.0

[2018-08-04 06:57] CWolfAnderson commented on #58
Ditto for me - rn 0.56.0

[2018-08-04 12:04] Ashoat commented on #58
Still looking for a minimal repro folks. If you want this to get fixed please set that up so i can investigate!

[2018-08-06 15:15] Devid2727 commented on #23
Is there any fixes for above issue ?  I am facing same issue even after i have added  below code getting same error

`"transformIgnorePatterns": [
      "node_modules/(?!react-native|react-navigation-redux-helpers|react-navigation)"
    ]`

[2018-08-07 04:32] Devid2727 opened #59 "TypeError: Cannot read property 'init' of undefined"
I am using Jest to write unit test cases, Just week ago my test cases was working properly, but from last two days i am getting one error. I havent done any changes, i dont understand why this coming and tried to find solution but didnt get any proper response.  Below i have added my error and configuration.

**Error**

And In my package.json file

[code]

I have also added

[code]

Please let me

[2018-08-07 14:11] Ashoat commented on #59
Some context in #23 for people who haven't seen it (@Devid2727, I know you have).

I'm not immediately sure what's going on exactly here. The error is on the import of `NavigationActions` from `react-navigation`, and your version of `react-navigation` is quite old, so my first thought is that maybe that version of `react-navigation` doesn't declare that export correctly. You could read the code in

[2018-08-15 14:12] leobetosouza commented on #58
I am not using redux and I'm facing the same problem. This app runs fine with React Navigation 1.5 and RN 0.55...

After update (following tips found in https://reactnavigation.org/blog/2018/05/07/react-navigation-2.0.html) this problem erupts.

[code]

from my `package.json`:

[code]

Before someone say that its a problems with `redux-zero`, I can't indentify anything in the `Provider` component

[2018-08-20 11:31] javierbustamante commented on #53
Hi, I'm also suffering the issue...
I add listeners for willFocus, willBlur, didFocus and for didBlur but none works...
I'm working with the version 2.0.5.

[2018-08-24 15:09] gponsinet commented on #58
I think I've found the cause of this error
https://github.com/facebook/react-native/issues/20588
https://github.com/babel/babel/issues/8417

[2018-09-02 05:25] rodrigoelp opened #61 "Typescript 3 compilation error in index.d.ts"
Hi, I've started using this dependency in a brand new project and off the bat I get a compilation error from here as follows:

[code]

Do you guys know what the problem might be?

I've setup my project with the following dependencies:

[code]

[2018-09-02 08:34] rodrigoelp commented on #61
To be more explicit, the may problem is that dispatch should take an `A` which extends of `Action` and in here, this definition forces an `S` of state as an action (which is the reason why the compiler is complaining)...

Has anybody used this type definition successfully before?

[2018-09-05 17:07] Ashoat commented on #61
Hi @rodrigoelp, I unfortunately don’t maintain the Typescript bindings for this project and rely on PRs from the community to keep it updated. I’d suggest looking through the history of the libdef file to find folks who might be able to answer your questions.

[2018-09-05 17:17] Ashoat commented on #58
Awesome, thanks @gponsinet! If anybody is still seeing this issue after trying the fix linked above, let me know.

[2018-09-05 17:17] #58 closed

[2018-09-05 21:45] rodrigoelp commented on #61
Or, if you want ashoat. I can submit a pull request fixing it. I've checked the bindings for v2.9 and the compilation error is reported there as well (you just need to turn on the proper flags to evaluate your typings)

[2018-09-05 21:48] Ashoat commented on #61
PRs are welcome!

[2018-09-18 23:41] rodrigoelp commented on #61
Hi, sorry for the delay... Here is the PR.

[2018-09-18 23:42] rodrigoelp commented on #61
Feel free to close this issue once it has been merged.

[2018-09-20 12:42] Ashoat commented on #61
Pro-tip: you can set up a PR to auto-close an issue by just including the text "Fixes #61" in the text of a commit.

[2018-09-20 12:42] #61 closed

[2018-09-30 08:11] tosikaz commented on #57
I have the same issue in any version(react-navigation & helpers).
please help me.

[2018-10-02 14:10] MikhailVolkov350504 commented on #23
Me too. Proposed solution by @Ashoat did not help.

[2018-10-02 15:51] mmarvick commented on #53
Hey @Ashoat - I'm running into the same issue and did verify that #60 fixed it for me locally. I'm on react-navigation 2.4.1 and react-navigation-redux-helpers 2.0.5. I'll see if I can put together a repo with a repro later today.

[2018-10-02 15:52] MikhailVolkov350504 commented on #59
Hi all. A faced the same issue after upgrade to **RN 0.57**

Adding `react-navigation-redux-helpers` in `transformIgnorePatterns` did not help.

My package.json
[code]

And my .babelrc
[code]

[2018-10-04 12:36] dianbagus96 commented on #57
@tosikaz  try to reset the cache npm with following command  npm start -- --reset-cache
worked well for me

[2018-10-09 16:01] NachosSs commented on #59
Same problem here.

[2018-10-09 16:05] NachosSs commented on #23
Same problem here

[2018-10-09 22:31] shyaniv7 commented on #53
https://github.com/xxyan0205/react-navigation-redux-helpers/commit/b7299f5b3ad22ef8c9ae1903b184fc20f4583ac9

fixes the issue for me.
Using react-navigation 2.17 and redux-helpers 2.0.6

adding the timeout around didUpdateCallback works

[code]

@Ashoat can you please merge it and release a new version?

[2018-10-10 17:17] Ashoat commented on #53
Hey guys - the fix in https://github.com/xxyan0205/react-navigation-redux-helpers/commit/b7299f5b3ad22ef8c9ae1903b184fc20f4583ac9 is to gate the `didUpdateCallback` behind a `setTimeout` call. This seems to indicate that `didUpdateCallback` is firing too early.

The problem with the fix is that it is brittle. It may work on your simulators, but will it work on physical devices? On old devices? A n

[2018-10-10 18:36] shyaniv7 commented on #53
hey @Ashoat,

here is an example that I found on a different thread that should be sufficient for your investigation
https://snack.expo.io/@mrloh/tabnavigator-with-redux-didfocus

[2018-10-10 19:18] Ashoat commented on #53
@shyaniv7, you've linked to a Snack that is using an outdated version of this package, and that is demonstrating a related but distinct issue that has long been fixed.

[2018-10-10 19:38] shyaniv7 commented on #53
@Ashoat 💩  I apologize, this is the wrong link. I cannot find the example I saw a few days ago

[2018-10-10 22:12] mmarvick commented on #53
I had trouble making a repro-able case when I tried last week, for what it's worth. I tried building something from scratch using all the same packages and package versions and didn't get the buggy behavior, so there's something more subtle going on than just a bad combination of dependency versions.

I'll try going the other direction (taking my app and breaking it down to a simple repro case), b

[2018-10-25 16:27] jamalx31 opened #63 "navigation with redux, Invariant Violation: should be set"
works with react-navigation v2.17.0 but not 2.18.1
https://github.com/react-navigation/react-navigation/issues/5170

[2018-10-25 17:04] Ashoat commented on #63
Thanks for the report! `react-navigation-redux-helpers@2.0.7` should fix this.

[2018-10-25 17:04] #63 closed

[2018-10-26 05:39] derren7532123 commented on #45
Hi Guys anyone can provide solution for this addreduxhelper:
import React from 'react'
import * as ReactNavigation from 'react-navigation'
import { connect } from 'react-redux'
import MixedNavigation from './MixedNavigation'

// here is our redux-aware our smart component
function ReduxNavigation (props) {
  const { dispatch, nav } = props
  const navigation =({
    dispatch,
    state: nav
  })

[2018-10-26 16:54] slorber opened #64 "support react-navigation v3?"
Hi,

Just wondering if support for react-navigation v3 (currently in alpha) is planned for this repo?

As mentionned in the doc, there will be no official support for redux in v3. Just wonder if someone has started working on non-official support?

Also, if no support, will a migration path be recommended?

# My usecase

I'm the new maintainer of a legacy app, initially based on Ignite, that I mig

[2018-10-26 18:13] Ashoat commented on #64
Hey @slorber! I think the "official support" thing doesn't actually reflect any changes to this package's relationship with React Navigation, but perhaps @ericvicenti or @brentvatne can correct me if I'm wrong. I have no plans to stop supporting this package.

Mostly I think they're just pretty frustrated with the volume of issue spam they get from people with Redux-specific problems, so they're g

[2018-10-27 04:57] brentvatne commented on #64
correct!

yup, this is mostly right. i'm happy to support an interface from react-navigation that enables redux and other libraries to work with it, i'm less excited about getting issue reports that involve redux, a handful of middleware and reducers, etc, and trying to debug what's wrong with someone's redux configuration rather than the react-navigation api surface area that enables it.

[2018-10-31 13:59] ws7one commented on #63
With the following dependencies its working fine

[code]

but with more latest versions such as follows, it fails

[code]

The following error is what i get.

![screenshot_1540994285](https://user-images.githubusercontent.com/41139390/47792949-1f270b80-dd43-11e8-8514-1798e49f7c45.png)

Not sure why is this closed, is there a fixed solution for this, because i have tried it with
"react-navigation-r

[2018-10-31 14:06] Ashoat commented on #63
@ws7one you probably didn’t succeed in updating the package. Try again, this time making sure `node_modules/react-navigation-redux-helpers/package.json` reflects the version you claim to have.

[2018-10-31 14:09] ws7one commented on #63
This is the current package.jason that i have

[code]

and the result is still the same
![screenshot_1540994937](https://user-images.githubusercontent.com/41139390/47793592-a628b380-dd44-11e8-87e5-51536e0e297c.png)

[2018-11-01 16:04] codesinghanoop commented on #7
I'm also facing this issue. I have added initializeListeners in componentDidMount where i declared the app navigation.
`componentDidMount () {
    initializeListeners('root', this.props.nav)
  }

  render () {
    return (
      <AppNavigation
        navigation={addNavigationHelpers({
          dispatch: this.props.dispatch,
          state: this.props.nav,
          addListener: createReduxBound

[2018-11-01 17:20] brentvatne commented on #7
this should be resolved. if it is not working as expected still on the latest version, please create a new issue with a runnable example on https://snack.expo.io -- thanks!

[2018-11-02 19:52] Ashoat commented on #64
I just tried the latest version of this package with the current 3.0 RC and it works! Gonna close this issue, but if anybody experiences any issues let me know and I can reopen.

[2018-11-02 19:52] #64 closed

[2018-11-17 23:24] DerekPark opened #65 "default namespaces"
I've noticed much of the initial setup has to do with simply assigning the "nav" and "root" namespace, I wonder if it would be beneficial to simply assign these by default, and use optional parameters to change these namespaces.  The purpose being much of the initial code, and sample, would be minimized for introductory users.

[2018-11-19 17:46] Ashoat commented on #65
Good suggestion. PRs are welcome, and this one shouldn’t be hard to implement! Since it would require a breaking API change we could release it as 3.0.

[2018-11-28 15:41] vitorcamachoo opened #66 "undefined is not an object"
After upgrading `react-navigation` to his latest version (2.18.0 => 3.0.2), I get the following error when navigating back from a tab router.

![screenshot 2018-11-28 at 15 40 10](https://user-images.githubusercontent.com/20595956/49163047-17e42500-f324-11e8-8d7a-58f9d56b3ff1.png)

[2018-11-28 16:11] Ashoat commented on #66
Have you tried updating this package to the latest version?

[2018-11-28 16:21] vitorcamachoo commented on #66
Yes, i'm using `2.0.8`

[2018-12-03 02:50] Ashoat commented on #66
I'm not able to repro this running `react-navigation@3.0.2` and `react-navigation-redux-helpers@2.0.8`. Navigating back from a `TabRouter` on Android should move you to the default route, and on iOS it should do nothing.

I can investigate further if you can provide an [MCVE](https://stackoverflow.com/help/mcve) that reproduces the issue, in the form of an [Expo Snack](https://snack.expo.io/) or a

[2018-12-03 16:40] Ashoat commented on #66
Does this issue occur if you're not using `react-navigation-redux-helpers` and instead just using `react-navigation` directly?

Again - if you'd like me to investigate I'll need an MCVE.

[2018-12-09 21:04] maxime-aubry opened #67 "Bad arguments on ReduxifyNavigator"
Here are my files :
[navigation/index.ts](https://github.com/maxime-aubry/StrongAndFit/blob/master/src/navigation/index.ts)
[navigation/routes.ts](https://github.com/maxime-aubry/StrongAndFit/blob/master/src/navigation/routes.ts)
[navigation/Reducers/index.ts](https://github.com/maxime-aubry/StrongAndFit/blob/master/src/navigation/Reducers/index.ts)

I have an error into navigation/index.ts on lin

[2018-12-12 11:08] maxime-aubry commented on #67
Please, help.

[2018-12-18 12:01] Lisa19900705 opened #68 "TypeError: Cannot read property 'routes' of undefined"

[2018-12-18 12:01] Lisa19900705 opened #69 "TypeError: Cannot read property 'routes' of undefined"

[2018-12-18 12:01] Lisa19900705 opened #70 "TypeError: Cannot read property 'routes' of undefined"

[2018-12-18 12:02] #70 closed

[2018-12-18 12:02] Lisa19900705 commented on #70
Repeated question

[2018-12-18 12:03] #69 closed

[2018-12-18 12:03] Lisa19900705 commented on #69
Repeated question

[2018-12-20 03:56] ddthuan87 opened #71 "How can i get dispatch() from reduxifyNavigator with setTopLevelNavigator"
Hi! Thank for the Lib!

**### Description ###**
I'm writing a GA tracking for my app.

Before adding GA, Im using "Navigating without the navigation prop" for top level app
https://reactnavigation.org/docs/en/navigating-without-navigation-prop.html

[code]

With that, i got a setTopLevelNavigator (NavigationContainer dispatch() for all Navigation Service)

### **### issue ###**
And now, im using r

[2018-12-20 20:45] #66 closed

[2018-12-20 20:45] Ashoat commented on #67
I can investigate further if you can provide an [MCVE](https://stackoverflow.com/help/mcve) that reproduces the issue, in the form of an [Expo Snack](https://snack.expo.io/) or a `react-native init`'d repo hosted on GitHub.

[2018-12-20 20:46] Ashoat commented on #71
I can investigate further if you can provide an [MCVE](https://stackoverflow.com/help/mcve) that reproduces the issue, in the form of an [Expo Snack](https://snack.expo.io/) or a `react-native init`'d repo hosted on GitHub.

[2018-12-21 03:00] ddthuan87 commented on #71
OKAY, i will push it, thank for reply

[2018-12-21 09:58] ddthuan87 commented on #53
Hi @Ashoat!

this issue has been fixed?

[2018-12-21 16:46] Ashoat commented on #53
The original reported issue was fixed. The second reported issue still doesn’t have a repro. There is a hack in #60 that may help avoid the second issue if you’re experiencing it.

[2018-12-24 03:08] ddthuan87 commented on #53
i'm using this tut and not word @Ashoat

[code]

[2018-12-24 03:38] Ashoat commented on #53
I can investigate further if you can provide an [MCVE](https://stackoverflow.com/help/mcve) that reproduces the issue, in the form of an [Expo Snack](https://snack.expo.io/) or a `react-native init`'d repo hosted on GitHub.

[2019-01-14 02:07] ggdegreat commented on #63
this helper doesn't worked for React Navigation v3.0

[2019-01-14 02:12] ggdegreat commented on #64
doesn't worked for React Navigation v3.0

still encounter this issue:
https://github.com/react-navigation/react-navigation-redux-helpers/issues/63

my package.json
[code]

[2019-01-14 03:08] #67 closed

[2019-01-14 03:08] #71 closed

[2019-01-14 03:08] Ashoat commented on #64
I can investigate further if you can provide an [MCVE](https://stackoverflow.com/help/mcve) that reproduces the issue, in the form of an [Expo Snack](https://snack.expo.io/) or a `react-native init`'d repo hosted on GitHub.

[2019-01-14 15:44] ivan-kaminskyi commented on #53
I am alose experiencing this issue randomly. Can`t find out the exact reason. On some screens it does work as expected, but on the others they don`t within the same navigator. Hope this will be fiixed soon.

[2019-01-23 09:44] shitou9999 commented on #63
same question，v3 and react-navigation-redux-helpers@2.0.9

[2019-01-23 16:15] jideokus commented on #68
Hi I'm having this issue after using reduxifyNavigator. I can't seem to find a proper solution to this anywhere.

Thanks

[2019-01-23 16:18] Ashoat commented on #63
I can investigate further if you can provide an [MCVE](https://stackoverflow.com/help/mcve) that reproduces the issue, in the form of an [Expo Snack](https://snack.expo.io/) or a `react-native init`'d repo hosted on GitHub.

[2019-01-23 16:19] Ashoat commented on #68
I can investigate further if you can provide an [MCVE](https://stackoverflow.com/help/mcve) that reproduces the issue, in the form of an [Expo Snack](https://snack.expo.io/) or a `react-native init`'d repo hosted on GitHub.

[2019-01-23 16:23] jideokus commented on #68
Thanks. I'll get a snack up and running in a bit

[2019-01-23 16:33] jideokus commented on #68
Hi @Ashoat Here's a quick MCVE replicating my current issue
https://snack.expo.io/ByaIvzL7N

Thank

[2019-01-23 20:39] Ashoat commented on #68
That Snack doesn't work - it errors out on the line 'import {middleware as navMiddleware} from './services/navigation/reducer';` since that file does not exist. Please take a look and make sure you are able to reproduce the `TypeError: Cannot read property 'routes' of undefined` error!

[2019-01-24 03:49] jideokus commented on #68
Hi. Sorry about that. The snack has been updated and should be functional to the point of the error now. The exact error is thrown when you try to run it in iOS. Another error (but related) error is show when you try to run it in Android.

Thanks

[2019-01-24 13:36] Ashoat commented on #68
You have not updated the Snack. Perhaps you need to give me an updated link? Before responding, please go through the process pretending you are me, and make sure you are able to reproduce the error with the instructions you have given me.

[2019-01-25 16:01] MM-Psiiirus commented on #44
You should really put this into the README :)

[2019-01-28 09:51] jideokus commented on #68
Hi. Sorry about that. Seems I forgot to send you the updated link. I've run through and the actual error pops up. Here you go
https://snack.expo.io/@jideokus/reduxify-issue-snack

[2019-01-28 22:25] Ashoat commented on #44
PRs welcome! We have a little pseudocode snippet for the back button at the bottom of the README, but it could always be improved. The snippet above is probably a bit more verbose than we need, but definitely open to improvements.

[2019-01-29 03:09] murrayee commented on #71
Hi, I have same issue ,How do you solve in the end？

[2019-01-29 19:54] Ashoat commented on #68
Your issue is that you are attempting to pass in the nav reducer as your root reducer, but you are telling both `react-redux` and `react-navigation-redux-helpers` that your navigation state is under the "nav" property. As stated in the `README` under `createNavigationReducer`: "Call this reducer from your master reducer, or combine using `combineReducers`". You did neither of these.

I'd recommend

[2019-01-29 19:54] #68 closed

[2019-02-01 09:19] jideokus commented on #68
Thanks for giving me a hand with this. Works like a charm

[2019-02-06 20:13] jpaas opened #73 "Doesn't work with react-navigation 3.0 for web"
In order to work for native and web, the peer dependency needs to be `@react-navigation/core` instead of `react-navigation`. PR coming.

[2019-02-07 16:33] #73 closed

[2019-02-07 17:30] #65 closed

[2019-02-10 14:30] LinMaris opened #75 "I can't work with 3.0.0"
I can work with 2.0.9. By `reduxifyNavigator`

When I use `createReduxContainer` instead of `reduxifyNavigator`, I get an error.

![image](https://user-images.githubusercontent.com/17720805/52534925-d2f85800-2d82-11e9-91a5-921f7aec0e1c.png)

[2019-02-10 15:40] antonjuls commented on #75
@LinMaris hey, notice that `createReactNavigationReduxMiddleware` take `key` as a second optional argument now. I just left a state as a first argument (and `root` key now is default) and it fixed the same issue for me.

[2019-02-10 18:28] Ashoat commented on #75
Details about breaking changes can be found in the [releases tab](https://github.com/react-navigation/react-navigation-redux-helpers/releases/tag/3.0.0).

[2019-02-11 02:34] LinMaris commented on #75
@antonjuls  @Ashoat That solved my problem.
Thanks

[2019-02-11 02:56] #75 closed

[2019-02-11 06:42] SiJieMa commented on #75
![2019-02-11 2 40 17](https://user-images.githubusercontent.com/17939301/52548872-1696a480-2e0b-11e9-95fe-b1ffd9046446.png)
Adjusting the order of two parameters solves the problem

[2019-02-13 09:27] koutily opened #76 "Before calling `createReduxContainer`, please call `createReactNavigationReduxMiddleware`, so that we know when to trigger your listener."

[2019-02-13 09:27] koutily commented on #76
import Routers from "../Routers/Router";
import {createNavigationReducer,createReactNavigationReduxMiddleware,createReduxContainer,} from "react-navigation-redux-helpers"

import {connect} from "react-redux"

const middleware=createReactNavigationReduxMiddleware(
    "root",
    state=>state.navigation
)

const AppNavigator=createReduxContainer(Routers,"root");
export  {AppNavigator,middleware}

[2019-02-13 10:02] koutily commented on #76
After some changes i am not getting this error but iam getting the another error called Cannot read property 'getStateForAction' of undefined

[2019-02-13 13:16] simranaurora-evive commented on #76
I am also getting the same error

[2019-02-13 13:27] Ashoat commented on #76
Since like most NPM packages we follow semver, you can expect that any major-version release will have breaking changes. Next time please do not upgrade without first checking what those breaking changes are. You can find them [https://github.com/react-navigation/react-navigation-redux-helpers/releases/tag/3.0.0](here).

If you still have any issue after reading the breaking changes and adjusting

[2019-02-13 13:27] Ashoat commented on #76
Closing this now since it seems like the issue will be resolved after reading the changelog linked above.

[2019-02-13 13:27] #76 closed

[2019-02-13 13:36] simranaurora-evive commented on #76
I have gone through the breaking changes and installed react-navigation/core but it's still not working

[2019-02-13 14:05] Ashoat commented on #76
Try going through the breaking changes again, this time very carefully.

[2019-02-20 16:26] bencergazda commented on #53
@Ashoat I am facing with the same issue. I am using Infinite Red's Ignite boilerplate (Andross), and the issue exists on a completely clean install. I created a somewhat MCVE (a clean Ignite Andross install), you can find it on https://github.com/bencergazda/react-navigation-redux-helpers-issue-53

I could not catch any event at all, but the implementation looks to be OK. Could you please have a l

[2019-02-20 17:23] Ashoat commented on #53
Are you able to reproduce without Ignite? If yes, can you put up an MCVE (as specified above, either through Expo Snack or `react-native init`). If not, I'd guess it has something to do with the interplay with Ignite?

[2019-02-24 22:41] yeahecho opened #77 "Problem with upgrading "react-navigation-redux-helpers" from 2.0.9 to 3.0.0"
![simulator screen shot - iphone x - 2019-02-24 at 16 50 13](https://user-images.githubusercontent.com/3847947/53306381-68531c00-385a-11e9-92f9-73bca736588d.png)
I replaced all the `reduxify-navigator` from code, uninstall & install react-navigation-redux-helpers, remove and install node_modules, reset my simulator, report is still there, any idea?

OS: macOS
"react": "16.6.3",
"react-native": "0.

[2019-02-25 07:40] sbmadhav opened #78 "Working example"
The full working example link is not available any more - https://github.com/react-navigation/react-navigation/tree/master/examples/ReduxExample

Is there another example? I am trying to move from react-navigation 1.0.9 beta to 3.3 and it has been a bear so far. :(

[2019-02-27 17:11] MayeuldP commented on #78
Same here, working on a project, setting up react-navigation-redux-helpers and all the stuuf (react-navigation,,,,) is a complete mess now

[2019-03-02 21:30] sefatunckanat opened #79 "Nav state is not PlainObject for redux preloadedState"
Initially i want to load my data but error when the react-navigation-redux-helpers 'nav' state prototype are not appropriate for the redux createStore

Redux Plain Controller
https://github.com/reduxjs/redux/blob/master/src/utils/isPlainObject.js
https://github.com/reduxjs/redux/blob/master/src/combineReducers.js#L36

Redux said, init state is required plain object or may be my fault

[code]
![ima

[2019-03-02 22:02] Ashoat commented on #79
The return type of your `loadToLocal` function is a `Promise`. You are passing a `Promise` as the first parameter to `createStore`.

[2019-03-02 22:02] #79 closed

[2019-03-02 22:05] Ashoat commented on #78
Good point... we should move that old example to this repo and update it to match the current versions of all the packages.

I unfortunately don't have any spare cycles to do this right now. Any chance either of you could do this and put up a PR? It would be very appreciated!

[2019-03-02 22:06] sefatunckanat commented on #79
Are you showing the right way? There was no explanatory answer.

[2019-03-02 22:14] Ashoat commented on #77
It appears that something went wrong with the upgrade. Can you try deleting your `node_modules` folder and recreating it with either `npm install` or `yarn`?

[2019-03-03 01:32] sbmadhav commented on #78
@Ashoat - Do you have the full working example. The above link is not available as pointed out earlier. I can update it.

[2019-03-03 02:21] Ashoat commented on #78
https://github.com/react-navigation/react-navigation/tree/84de94d96130b1879fa22dfb29382254cf5d109a/examples/ReduxExample

[2019-03-06 09:44] beingtyson opened #80 "I have a error when i use 3.0 ver"
[code]

when i build this code i can see
Before calling 'createReduxContainer' , please call 'createReactNavigationReduxMiddleware'
why??

[2019-03-06 09:56] beingtyson commented on #80
sorry my mistake.. i fixed it

[2019-03-06 09:56] #80 closed

[2019-03-06 12:56] Cawfree commented on #76
I think [Ashoat](https://github.com/Ashoat) is hinting towards the fact that the `key` parameter is now _optional_.

[code]

[2019-03-08 10:05] imbudhiraja commented on #78
Need working sample of this -> https://github.com/actionnetworkhq/react-navigation-redux-helpers#back-button

[2019-03-11 08:39] imbudhiraja commented on #78
Hey @sbmadhav @MayeuldP ,
I have created a Bolierplate with react-navigation with redux integration.
Here it is - https://github.com/imbudhiraja/react-native-basekit

[2019-03-11 20:26] andrewazevedo commented on #76
I just remove the key from `createReactNavigationReduxMiddleware` and now works fine.

[2019-03-14 07:58] murrayee commented on #80
hi bro,i have the same issue ,How do you fix it

[2019-03-14 08:00] beingtyson commented on #80
`import React,{Component} from 'react';
import { BackHandler } from "react-native";
import { NavigationActions } from "react-navigation";
import { createReduxContainer,createReactNavigationReduxMiddleware,createNavigationReducer } from 'react-navigation-redux-helpers';
import { Provider, connect } from 'react-redux';
import AppNavigation from './src/navigation'
import { createStore, applyMiddlewar

[2019-03-14 08:07] murrayee commented on #80
![image](https://user-images.githubusercontent.com/20828177/54340702-ed1fa180-4672-11e9-96b8-adf61eb35d56.png)

thx, the switch of the two parameters solves it !     T_T

[2019-03-14 08:16] beingtyson commented on #80
"react-navigation": "^3.3.2",
    "react-navigation-redux-helpers": "^3.0.0",

[2019-03-14 08:18] murrayee commented on #80
![image](https://user-images.githubusercontent.com/20828177/54341382-c498a700-4674-11e9-98bb-2c27f223c8fc.png)

[2019-03-14 09:04] beingtyson commented on #80
so.. what is your problem?

[2019-03-14 15:07] rullymartanto commented on #64
I Adding redux into my testig project it's work....
Not complete yet but I think its gonna work

import { Provider } from 'react-redux'
import { createStore, applyMiddleware } from 'redux'
import reducer from './reducers'
import thunk from 'redux-thunk'

import HomeTab from './Components/AppTabNavigator/HomeTab'
import SearchTab from './Components/AppTabNavigator/SearchTab'
import AddMediaTab from

[2019-03-28 04:12] Oscarz90 commented on #53
has it been well tested?? Im facing the same problem u.u please help

[2019-04-11 22:03] #77 closed

[2019-04-29 07:33] salhotra opened #82 "Deep linking support"
**Use case:**
Need to support deep linking from react navigation.
https://reactnavigation.org/docs/en/deep-linking.html

In order to do that, we need to pass a prop called `uriPrefix` to the top level navigator.

**Problem:**
Right now we can't pass `uriPrefix` (https://reactnavigation.org/docs/en/deep-linking.html#uri-prefix-1) to the Component wrapped by `createReduxContainer`.

Is there a decen

[2019-04-29 14:37] Ashoat commented on #82
Yeah, you're unfortunately correct that there isn't currently any support for that in this library.

You can see how `createAppContainer` does it [here](https://github.com/react-navigation/react-navigation-native/blob/master/src/createAppContainer.js#L137-L150). Basically, the URI and the `uriPrefix` get passed into [`getParamsFromPath`](https://github.com/react-navigation/react-navigation-core/bl

[2019-04-29 14:38] #59 closed

[2019-04-29 14:38] #53 closed

[2019-05-02 07:48] parkhanseong commented on #53
mee too

[2019-05-02 17:28] campfighter commented on #82
Hey, same issue here. Thanks for your help and suggestions. Can you help me understand how to access the main router on the Redux container?

[2019-05-02 17:34] Ashoat commented on #82
It’s a static property on the container component. You can give the source code for the container a quick read if you’d like to learn more. Closing this issue now since no response from OP.

[2019-05-02 17:34] #82 closed

[2019-05-06 17:38] hoangpham95 opened #83 "Calling add listeners from props"
Following with the newest change in react-navigation 3.x, I was unable to add listener from the main navigator.

Code:
[code]
After running this code, I got the error that `props.nav.addListener` is not a function. How should I resolve this issue?

[2019-05-06 22:27] Ashoat commented on #83
You're confusing your navigation state (stored in Redux) with the React Navigation navigation prop (provided by navigators). Redux stores generally aren't supposed to have any functions in them, so trying to call a function on your state should be a red flag to you that something is off.

You might want to start by giving the Redux documentation a read. Then give the React Navigation docs about th

[2019-05-06 22:27] #83 closed

[2019-05-12 18:50] sandeep-sethia commented on #58
HI Ashoat, I am also getting a similar error (not entirely sure if it is the same)   
<img width="930" alt="Screenshot 2019-05-13 at 2 47 53 AM" src="https://user-images.githubusercontent.com/46039465/57586527-ad1d5380-7529-11e9-82ea-ac8d37132ce1.png">

Could you please advise. I almost tried everything written above but thing much helped me here. Please let me know if you need additional informat

[2019-05-16 06:57] mo6moming commented on #53
FYR: I tried below and it works :
- ReduxNavigation.js , export Middleware instead of just createReactNavigationReduxMiddleware
[code]
- then import to CreateStore.js and modify as below.
[code]

[2019-05-20 09:17] superp commented on #53
You save my life! :)
I had a problem with black screen camera after switching tab, and now it works!

[2019-05-21 10:31] raen79 commented on #77
I am having the same issue and deleting the `node_modules` folder does not solve it...

[2019-05-21 16:23] hoangpham95 opened #84 "How to addListener with react-navigation-redux-helpers?"
Looking at this [tutorial](https://reactnavigation.org/docs/en/custom-android-back-button-handling.html), how can I add listener like this?
[code]

[2019-05-21 16:32] Ashoat commented on #84
Not sure what you’re asking. That code snippet will remove the `BackHandler` event listener on blur. Not sure if that’s what you want. For an example of how to implement back handler behavior please check the end of this project’s `README`.

[2019-05-21 16:32] #84 closed

[2019-05-26 13:26] clerecudzio commented on #53
Superb. You saved me a thousand of minutes breaking this problem

[2019-05-29 04:44] quyho-tnc commented on #71
Do you have any update?

[2019-05-31 03:46] ddthuan87 commented on #71
mình không dùng nó nữa cậu ạ

[2019-05-31 04:24] quyho-tnc commented on #71
Did you have another good solution?

[2019-06-06 03:37] ddthuan87 commented on #71
are u using this lib for what?

[2019-06-06 04:11] KoheiTigers commented on #76
I am still getting

`navStateSelector is not a function (In 'navStateSelector(newState)', 'navStateSelector' is "root")]
- node_modules\react-navigation-redux-helpers\src\middleware.js:46:32 in <unknown>
- node_modules\redux-persist\lib\persistStore.js:69:21 in rehydrate
- node_modules\redux-persist\lib\persistReducer.js:73:27 in _rehydrate
- node_modules\redux-persist\lib\persistReducer.js:98:21

[2019-06-12 06:28] rsouthgate opened #85 "Is there an equivalent onNavigationStateChange prop in the reduxContainer to the appContainer?"
I was reading the React Navigation docs and noticed a useful screen tracking example here:
https://reactnavigation.org/docs/en/screen-tracking.html which uses the top level app container to track screens.

Since I've implemented redux helpers my container is a redux container so I don't think I can or should be doing it the same way. I'm assuming middleware is the right approach with redux but was

[2019-06-12 18:21] Ashoat commented on #85
This is mostly a question about Redux idioms. You have three ways you could do it - a middleware, in the reducers, and in a `connect`ed component.

I think the `connect`ed component is probably the most idiomatic solution. You set up a component that subscribes to your navigation state, and then using the same `getActiveRouteName` from the link you provided, you check if the active route has chang

[2019-06-12 18:21] #85 closed

[2019-06-21 11:05] bobbyecho opened #86 "can't find variable: createReduxContainer"
Hi,

i've got some problem with redux integration with react navigation 3

after all changes i've made, i got stuck on this error

![Screenshot_2019-06-21-18-02-07-472_com ralali bigagent android dev](https://user-images.githubusercontent.com/43055803/59918390-c8478100-944e-11e9-80b9-f02a1a86047c.png)

here's my package.json dependencies

[code]

anyone can give a clue? thanks

[2019-06-21 14:24] Ashoat commented on #86
It appears you haven’t imported `createReduxContainer` or something. Impossible to say without code

[2019-06-21 14:24] #86 closed

[2019-06-22 09:23] rabanos-rvc opened #87 "addListener or NavigationEvents will only work at first open."
I am using bottomNavigation with stackNavigator

Screen A's navigation addListener is fine, and then if I navigate to Screen B, the navigation addListener is also working but if go back to screen A and navigate to Screen B again the addListener will not work anymore. I tried using NavigationEvents and still it is not working.

  "react-navigation": "3.0.0",
    "react-navigation-redux-helpers": "^

[2019-06-22 13:03] Ashoat commented on #87
Please update to the latest version of this package

[2019-06-22 14:19] rabanos-rvc commented on #87
Hi, I updated it to 3.0.2 and it still not working :(

I also changed my ReduxNavigation.js file
    import {
  createReactNavigationReduxMiddleware,
  createReduxContainer
} from 'react-navigation-redux-helpers'
import { connect } from 'react-redux'
import AppNavigation from './AppNavigation'

export const appNavigatorMiddleware = createReactNavigationReduxMiddleware(
  (state) => state.nav,
  'r

[2019-06-23 15:03] Ashoat commented on #87
I am not sure what’s wrong from the code snippets you copy-pasted. This issue seems like it might be the same as #53. That one got closed because nobody was able to provide a repro.

I can investigate this issue further if you can provide an [MCVE](https://stackoverflow.com/help/mcve) that reproduces the issue, in the form of an [Expo Snack](https://snack.expo.io/) or a `react-native init`'d repo

[2019-06-24 05:15] rabanos-rvc commented on #87
something wrong with my NavigationActions.navigate...
gonna close this issue. Thanks

[2019-06-24 05:15] #87 closed

[2019-06-25 07:21] summerkiflain commented on #78
also looking for working expo app example with the latest versions.

[2019-07-02 14:48] jannes-io commented on #63
Seems like 6 months later we're still having the same issues. Any updates on this?

[2019-07-23 13:37] serkanz opened #88 "createReactNavigationReduxMiddleware called more than once"
I use redux helper in my react app. The problem is that when I use this.props.navigation.navigate("DrawerNavigatorScreen") anywhere in the app **createReactNavigationReduxMiddleware** function called so many times and app become unresponsive. What could cause this?

src/navigation/index.ts file:

`
import { createStackNavigator, StackNavigatorConfig, NavigationRouteConfigMap, createDrawerNavigator

[2019-07-23 16:05] #88 closed

[2019-07-26 09:40] tusharkhatiwada opened #89 "Cannot read property 'routes' of undefined"
Hi,
I've been trying to create a new RN project with latest react-navigation, redux-helpers and getting these errors:

**Android**
`Cannot read property 'routes' of undefined`

**iOS**
`undefined is not an object (evaluating 'state.routes')`

Expo Link: https://snack.expo.io/@tushark/react-navigation-v3-redux

Looked into the existing issue: https://github.com/react-navigation/redux-helpers/issues

[2019-07-26 13:59] Ashoat commented on #89
You made a typo. Change line 64 to this and it works:

  const { state: nav, dispatch } = this.props;

[2019-07-26 13:59] #89 closed

[2019-07-26 15:41] tusharkhatiwada commented on #89
Thanks a lot. That was definitely the problem.

[2019-08-02 17:30] Luis0Antonio commented on #77
Same issue here, I already deleted node_modules and install the modules again.

[2019-08-07 07:45] iceuncle commented on #76
The `key` now is the second parameter, and is optional.

[code]

[2019-08-07 12:42] jakub-astrahit opened #90 "Unable to compile - typings error"
Hi, I just installed react-navigation-redux-helpers and can't compile it i
[code]
![Screen Shot 2019-08-07 at 14 25 42](https://user-images.githubusercontent.com/19378338/62623714-d3cd0980-b921-11e9-8b27-94e4a3ec6385.png)

My implementation:

[code]

Here is the contents of the `node_modules/react-navigation-redux-helpers/index.d.ts` file:
[code]
Any ideas what's wrong with the typings on the last

[2019-08-07 13:10] Ashoat commented on #90
I don't use TypeScript or maintain the typings for it but it looks like you should install the types for the `@react-navigation/core`

[2019-08-07 13:14] jakub-astrahit commented on #90
@Ashoat I use "@types/react-navigation": "^3.0.8" and it does not work.

[2019-08-08 07:50] jakub-astrahit opened #91 "Typings error"
This is still an issue: https://github.com/react-navigation/redux-helpers/issues/90

[2019-08-08 10:39] Ashoat commented on #91
Okay, I’ll take your word for it and leave it up in case you or somebody else wants to fix it. Can you please retitle and add a thorough description though?

[2019-08-08 10:41] jakub-astrahit commented on #91
@Ashoat Could you please re-open #90 and delete this?

[2019-08-08 12:52] #91 closed

[2019-08-08 12:54] Ashoat commented on #90
Okay, I’ve reopened this issue and assigned it to you in the hopes you will do something about it. Again I don’t maintain the TypeScript typings so need somebody else to take the lead

[2019-08-08 12:55] Ashoat commented on #90
A good start would be to tag in the previous maintainers of these typings. Why aren’t they having the same issue? Perhaps you have misconfigured something?

[2019-08-09 14:42] andrewhartwig opened #92 "Upgrading react-navigation from 1.0.0-beta.13 to latest, having trouble re-integrating my nested navigators with redux."
Hello there! =)

I have an old react-native app that I am attempting to upgrade. Unfortunately, I have really tightly coupled my entire app with the redux-integration of react-navigation. Now it appears all those helpers are gone, and so I am left with integrating with this library!

So far the transition has been painless, but I am struggling with one last concept here.

# `src/reducers.js`
[code

[2019-08-09 14:50] andrewhartwig commented on #92
Okay upon doing even further digging, it almost seems like I don't need to be using this library, since I've already written most of the code that this library provides. I guess what I need to know, is what needs to be in the `navigation` object?

[2019-08-10 13:03] Ashoat commented on #92
I’d recommend just reading the source of this library. There is a utility function in core that will build a `navigation` object for you.

[2019-08-10 13:03] #92 closed

[2019-08-22 20:14] bwoodlt commented on #78
@imbudhiraja does that implementation work for you? In your `createStackNavigator`, you were passing `routes` which I believe should be part of the navigator already, not sure why yours implemented this way

[2019-08-23 11:58] hemmedo commented on #77
Same here...getting crazy with this can't find module reduxify-navigator error. There is no single reference to that function from my code anymore.

[2019-08-24 13:09] bwoodlt opened #94 "Cannot read property 'routes' of undefined - react-navigation 3.11, redux-helper 3.0.2"
Hi All,

Have spent some time on this yet cant seem to fix this issue. Just so people more experienced can help me, please see the gist I created.

https://gist.github.com/bwoodlt/773c62d4ba3dbe0cea150a9d956bec3f

Thanks for all your help!

[2019-08-26 13:14] MriduDixit15 commented on #76
same problem +1
how you solved

[2019-08-27 08:00] bwoodlt commented on #94
So I fixed my issue:

The createReduxContainer helper from react-navigation-redux-helpers expects three key params: { dispatch, state, ...props }, I wasn't passing the dispatch and state directly but as part of the navigation object passed. So I fixed this by passing missing parameters.

[2019-08-27 08:00] #94 closed

[2019-09-03 22:05] Ashoat commented on #77
You guys are all having some code caching issue. Besides deleting `node_modules`, you can try `react-native start --reset-cache`.

[2019-09-12 06:50] 5468sun commented on #82
is deep linking supported yet?
I have the same problem, and dont know how to implement the previous solution.

[2019-09-16 17:49] luisrivas opened #96 "createNavigationReducer on Web"
I'm trying to use this library with my react-native-web App, but I'm receiving `TypeError: Cannot read property 'getStateForAction' of undefined` when I try to build for web (works fine on mobile)

My screen:
<img width="1123" alt="Screen Shot 2019-09-16 at 1 23 45 PM" src="https://user-images.githubusercontent.com/2474521/64979385-9d21d180-d885-11e9-8e45-6ce2bbfa19bc.png">

Navigator config:
[cod

[2019-09-18 03:54] juzhax commented on #76
`
import {
  createReactNavigationReduxMiddleware,
  createReduxBoundAddListener,
  createReduxContainer,
} from 'react-navigation-redux-helpers';

const middleware = createReactNavigationReduxMiddleware(
 navStateSelector => "root",
state => state.navReducer,
);

const addListener = createReduxContainer("root");

export {
  middleware,
  addListener,
};
`

navStateSelector => "root",

[2019-09-18 08:12] UnSensei opened #97 "Upgrading from 1.0.0-beta.21 to v4, gives navigation.getChildNavigation is not a function"
**Describing the Issue**

I'm in the process of upgrading my app and when i tried the same with react-navigation v4, i run into this issue. I have over the past 2 days gone over the documentation and unfortunately haven't found anything that has helped me.
The upgrade process seemed straightforward with whats in the installation docs. But with the Redux implementation from before there seems to be

[2019-09-18 09:00] UnSensei commented on #92
@andrewhartwig Hello, i wanted to know if you were able to fix your Redux integration issues. since I'm having one myself and am struggling with it. https://github.com/react-navigation/redux-helpers/issues/97

[2019-09-18 12:50] Ashoat commented on #97
You don’t seem to be using this package at all.

[2019-09-19 04:52] UnSensei commented on #97
@Ashoat no i haven't yet. When i went to post this is react-navigation, the template there says if its an issue with redux integration then please do it here.
And also i went through a few issue that make me think that redux-helpers dont support v4 yet. Please correct me if I'm wrong and it would be very helpful to know about any compatibility issues that react-navigation has with redux in the way

[2019-09-19 05:16] Ashoat commented on #97
Don't see any reason why it wouldn't work with v4

[2019-09-19 05:16] #97 closed

[2019-09-20 19:05] Ashoat commented on #96
Hi @luisrivas! Awesome that you're trying to get this library to work with `react-native-web`. I've never tried before, and don't have the bandwidth right now to give it a go, but since this lib is pure-JS and doesn't rely on anything native-specific I imagine it should work pretty easily.

The error you're seeing indicates that the parameter you passed into `createNavigationReducer` - `AppNavigat

[2019-09-27 09:19] fabioplaka opened #98 "Invariant Violation"
Hello,
I have an error with the library in react-native app. The application is open successfully but when I go to login, it gives me error that say:
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and n

[2019-09-27 11:35] hight89 commented on #98
Hello, i have same problem.

"react-navigation-redux-helpers": "3.0.6",
"react-navigation": "3.13.0"

If i delete the <ThemeProvider> component from the render method it's works fine.

I know it's not a solution. But i can continue my work, and maybe help for a solution.

[2019-09-27 12:31] fabioplaka commented on #98
Same error. Please show me in which class did you delete component from render method?

[2019-09-27 13:29] hight89 commented on #98
I just delete 91. and 98. row from  the
/node_modules/react-navigation-redux-helpers/src/create-redux-container.js

I know if i reinstall node modules this change is lost, but i  believe somebody will resolve this soon.

[2019-09-27 14:13] hight89 commented on #98
Upgrade "react-navigation" 4.x or downgrade react-navigation-redux-helpers!

[2019-09-27 19:48] Ashoat commented on #98
Oopsie. React Navigation 3.12 has `ThemeContext`, but doesn't have `ThemeProvider` (which is just `ThemeContext.provider`. But earlier versions of React Navigation 3 doesn't have either.

In retrospect this is a breaking change since this library no longer works with React Navigation 3.11 or earlier. I'm going to back out the `ThemeContext` usage and release a 3.0.7 version. And then I'll release

[2019-09-27 19:58] Ashoat commented on #98
Okay, so:

- If you're using `react-navigation@3.11` or earlier, update to `react-navigation-redux-helpers@3.0.7`
- If you're using `react-navigation@3.12` or later, update to `react-navigation-redux-helpers@4.0.0`

[2019-09-27 19:58] #98 closed

[2019-09-28 10:35] samtoya commented on #82
@Ashoat Is deep linking now supported? If not, can you please give an example on the solution you suggested/recommended?

Thank you.

[2019-09-28 20:19] BenjErgizerBunny commented on #82
Is deep linking supported yet with redux?  I also don't understand how to implement the solution above

[2019-09-28 22:27] Ashoat commented on #82
Deep linking isn’t supported but PRs would be welcome!

[2019-10-03 13:53] jpaas opened #99 "Changing imports from @react-navigation/core to react-navigation breaks web apps"
When the imports in the reducer changed from `@react-navigation/core` to `react-navigation` this broke any app using `react-navigation-web` because `react-navigation` imports native modules.

[2019-10-03 16:58] Ashoat commented on #99
Oopsie. I'll change it back.

[2019-10-03 17:16] Ashoat commented on #99
Okay, I've realized `react-navigation-redux-helpers@3.0.8` (for `react-navigation@3.11` and earlier) and `react-navigation-redux-helpers@4.0.1` (for `react-navigation@3.12` and later).

[2019-10-03 17:16] #99 closed

[2019-10-03 17:17] #96 closed

[2019-10-03 18:46] jpaas commented on #99
Thanks @Ashoat! It works again.

[2019-10-08 16:31] qtcoder999 opened #101 "Issues in ThemeProvider"
![image](https://user-images.githubusercontent.com/30284500/66414103-5eabac80-ea16-11e9-8e33-a9c53864e4b4.png)

ExceptionsManager.js:82 Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up def

[2019-10-08 16:57] Ashoat commented on #101
Can you try installing version 3.0.8?

[2019-10-09 20:08] #101 closed

[2019-10-10 17:09] Ashoat commented on #101
I think you're trying to pass a container to `createReduxContainer` instead of passing a navigator, which isn't correct. If you really want to keep doing that, you can either update to `react-navigation@4` or downgrade to `react-navigation-redux-helpers@3.0.3`

[2019-10-11 09:57] dennyfloweradvisor opened #102 "this .setState does'nt work in componnent didmount anyone can help me?"
hi all i have a problem with navigation when i move to tab page with this.props.navigation.navigate('CART') variable setState cannnot mutable here my navigation tree :

import React from "react";
import { Platform, StatusBar } from "react-native";
import {
  StackNavigator,
  TabNavigator,
  SwitchNavigator
} from "react-navigation";
import { FontAwesome } from "react-native-vector-icons";
import

[2019-10-11 15:10] Ashoat commented on #102
This package is probably unrelated to your issue. I can investigate this issue further if you can provide an [MCVE](https://stackoverflow.com/help/mcve) that reproduces the issue, in the form of an [Expo Snack](https://snack.expo.io/) or a `react-native init`'d repo hosted on GitHub.

[2019-10-11 15:10] #102 closed

[2019-10-13 16:30] dennyfloweradvisor commented on #102
okeey so i must upload my project file to an expor bro?

[2019-10-13 16:31] dennyfloweradvisor commented on #102
or linked @Ashoat  github file repo?

[2019-10-22 06:19] shengbenqiang commented on #76
参数的位置在新版本被改了，你可以看看依赖文件里位置，两者交换了，只要交换后就没问题了

[2019-11-13 18:31] bunyaminmrcn commented on #76
Error Still continue. Topic must be reopen .

[2019-11-22 10:12] CptFabulouso opened #103 "Is @react-navigation/core needed? v4.0.1"
I am confused if I should add @react-navigation/core package to my project, why is it needed? I tried removing it and everything still seems to work, is it just for typings? It's mentioned in changelogs, but not in readme.

Project uses Flow, but typings for react-navigation are not imported.
used versions:
"react-navigation": "^4.0.10",
"react-navigation-redux-helpers": "^4.0.1",
"react-navigatio

[2019-11-22 18:37] Ashoat commented on #103
`@react-navigation/core` is listed as a peer dependency because we import some utilities from there, but don't want to lock onto a specific version of `react-navigation`, and instead want to defer version selection to the user.

We could specify `react-navigation` as the peer dependency instead, which is what I tried in 4.0.0. Everything exported by `@react-navigation/core` is also exported by `re

[2019-11-22 18:39] Ashoat commented on #103
To your questions:

If you're not importing anything directly from it, you don't need to bother. It is in your project by virtue of being a dependency of `react-navigation`. You will get yarn/npm errors about the peer dependency for the reasons mentioned above, but you can safely ignore them.

The typing for the mainline React Navigation packages (`react-navigation`, `@react-navigation/core`, etc.

[2019-11-22 18:39] #103 closed

[2019-11-25 08:53] CptFabulouso commented on #103
Nicely written, thanks a lot

[2019-12-11 02:04] tianleiyiji123 opened #104 "Invariant Violation: App.router must be provided to createNavigationPropConstructor as of react-navigation-redux-helpers@2.0.0"
what is wrong about this
react-navigation-redux-helpers version: ^4.0.1
react-navigation version: ^4.0.10

![image](https://user-images.githubusercontent.com/13405335/70584922-934a0900-1bfd-11ea-96e8-f6d8b7b12674.png)

[2019-12-11 02:06] tianleiyiji123 commented on #104
**### below is my code**

[code]

[2019-12-11 02:35] Ashoat commented on #104
You should be passing the root navigator directly to `createReduxContainer` and not using `createAppContainer` at all. If you really want the functionality `createAppContainer` provides (eg. back button handling) you could try to make the app container look like a navigator by hoisting the root navigator’s static onto the app container using `hoist-non-react-statics`. Then presumably you could pas

[2019-12-11 02:35] #104 closed

[2020-01-16 10:49] KDederichs opened #105 "NavState missing routes"
Hey,

I have a problem where the Navigation State is missing some of my routes, causing me to not be able to navigate to those using the redux action.

Navigation is set up like this

[code]

as you can see just a switch navigator with 3 stacks in it.
But here's the problem all those stacks have only one (the first) route in them if you look at the navigation state.
Navigating to the 'missing' rou

[2020-03-03 05:58] JherysVargas opened #106 "React Nav 5 support - undefined is not object _core.NavigationActions.init"
Could someone help me solve this error?
![errorNavigation](https://user-images.githubusercontent.com/39938693/75747102-0ee1c080-5cea-11ea-98ff-1d6176bdf8e5.jpeg)

[2020-03-04 13:51] manuel90 commented on #106
The same error here!

[2020-03-04 16:31] Ashoat commented on #106
Not sure what's going on. Are you guys using the new React Navigation 5? I haven't checked on compatibility for that version yet.

[2020-03-04 17:56] JherysVargas commented on #106
I have already managed to solve it, react navigation v5 advises not to save navigation in redux, if you are using redux and  this library https://github.com/react-navigation/redux-helpers you have to uninstall it and configure your store to not save navigation in redux, with that configuration you can implement without problem react navigation v5.

[2020-03-04 18:20] Ashoat commented on #106
That makes sense! Most people shouldn’t be using this library anyways. When I upgrade to React Navigation 5 I’ll look into how hard it would be to keep this library working with it. Will leave this issue open to track React Navigation 5 comparability for now

[2020-03-06 09:10] stelalae opened #107 "When will react-navigation-5 be adapted?"
thanks

[2020-03-12 15:38] uendar opened #108 "undefined is not object _core.NavigationActions.init"
I get an issue with react navigation

undefined is not an object ( evauating '_core.NavigationAction.init')

I am using :

"dependencies": {
"@react-native-community/art": "^1.2.0",
"@react-native-community/datetimepicker": "^2.2.3",
"@react-native-community/google-signin": "^3.0.4",
"@react-native-community/masked-view": "^0.1.7",
"@react-native-community/netinfo": "^5.5.1",
"@react-native-fireba

[2020-03-16 15:34] Ashoat commented on #108
Duplicate of #106

[2020-03-16 15:34] #108 closed

[2020-03-16 15:35] Ashoat commented on #107
Will try to look into it this week!

[2020-03-16 15:35] Ashoat commented on #107
Duplicate of #106

[2020-03-16 15:35] #107 closed

[2020-03-24 03:59] Ashoat commented on #106
For a whole lot of reasons, including that React Navigation 5 no longer adheres to the "Flux" model of constraining state changes to actions, it's not going to be possible to keep this library going.

[2020-03-24 03:59] #106 closed

[2020-04-28 06:34] flyskywhy commented on #53
https://github.com/shyaniv7/react-navigation/commit/20594229df37a9a08c8a8f117b680498365f1316 mentioned in https://github.com/react-navigation/react-navigation/issues/4670#issuecomment-404299410 works for me.

[2020-07-10 09:48] jiangjiatao opened #109 "TypeError: undefined is not an object (evaluating 'Navigator.router')"
TypeError: undefined is not an object (evaluating 'Navigator.router')

![image](https://user-images.githubusercontent.com/18566483/87141368-885f7000-c2d5-11ea-8dfd-d9f5c943f7f8.png)

[2020-07-17 13:53] mohsinali1317 opened #110 "React navigation navigation.getChildNavigation is not a fucntion"
I am in the prosess of updating from React navigation v1 to v4. In v1 we used **react-navigation-redux-helpers** for connecting the state. Now I have done this much so far.

In my Navigation.js I have this

	let AppNavContainer = MainStack;

	export default AppNavContainer;

	const initialState = AppNavContainer.router.getStateForAction(
	  NavigationActions.init()
	);

	export const navReducer =

[2020-07-23 14:32] sraka1 commented on #106
@Ashoat how did you tackle the issue of maintaining the same navigational state when migrating to React-Navigation v5 and consequently away from this library. I.e. user is on a specific screen HomeStack -> PersonStack -> PersonScreen and then updates the app which has an underlying upgrade to React Navigation v5. Do we need to roll a custom solution to make sure the new internal state matches the

[2020-07-23 16:40] Ashoat commented on #106
My app doesn't persist navigation state in production, so I'm not sure. I'm not aware of any utilities to convert the v4 navigation state format into the new one, but if an official one exists it would be in `@react-navigation/compat`. If this is absolutely necessary in your case, my guess is that you'll need to write your own solution.

[2020-10-09 09:23] scaralfred commented on #82
Any update on this?

[2021-01-07 15:35] sallarahmed commented on #108
I solved issue by deleting node_modules and install dependencies using yarn instead of npm

[2021-04-06 11:53] veeramarni commented on #110
@mohsinali1317 I'm on the same boat, did you figure out it?